In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.4.2'

In [3]:
names = ['Olga', 'Andrew', 'Brian', 'Telulah', 'Nicole', 'Tilda']
ages = [29, 21, 45, 23, 39, 46]
married = [False, True, True, True, False, True]

In [4]:
ser = pd.Series(names, name='Name')

In [9]:
df = pd.DataFrame({'Name': names, 'Age': ages, 'married': married})
df

      Name  Age  married
0     Olga   29    False
1   Andrew   21     True
2    Brian   45     True
3  Telulah   23     True
4   Nicole   39    False
5    Tilda   46     True

In [11]:
df.iloc[0]

Name        Olga
Age           29
married    False
Name: 0, dtype: object

In [12]:
df.iloc[2]

Name       Brian
Age           45
married     True
Name: 2, dtype: object

In [13]:
df.iloc[2,0]

'Brian'

In [14]:
ser.ndim

1

In [15]:
df.ndim

2

In [16]:
ser.shape

(6,)

In [17]:
df.shape

(6, 3)

In [18]:
df.Name

0       Olga
1     Andrew
2      Brian
3    Telulah
4     Nicole
5      Tilda
Name: Name, dtype: object

In [19]:
ser

0       Olga
1     Andrew
2      Brian
3    Telulah
4     Nicole
5      Tilda
Name: Name, dtype: object

In [20]:
df.info

<bound method DataFrame.info of       Name  Age  married
0     Olga   29    False
1   Andrew   21     True
2    Brian   45     True
3  Telulah   23     True
4   Nicole   39    False
5    Tilda   46     True>

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   Age      6 non-null      int64
 2   married  6 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 230.0+ bytes

In [22]:
df.dtypes

Name       object
Age         int64
married      bool
dtype: object

In [23]:
ser.dtype

dtype('O')