In [25]:
import pandas as pd
import numpy as np

In [14]:
data_url = 'https://gist.githubusercontent.com/sh7ata/56976975b3c67caabb2efd80bb3a8467/raw/f1b7d2abf6770548edafee58ea15be71e2d28aac/Nutrition.csv'

In [15]:
nutrition = pd.read_csv(data_url, index_col=[1])
nutrition.head(n=2)

,Unnamed: 0,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,0,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
"Nuts, pecans",1,100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g

In [16]:
df = pd.DataFrame({
    'age':[12,13,14,16],
    'wieght':[41.1,34.5,83.2,90.1],
    'height':['1.72','1.74','1.91','1.54']
    })

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     4 non-null      int64
 1   wieght  4 non-null      float64
 2   height  4 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

In [18]:
df

   age  wieght height
0   12    41.1   1.72
1   13    34.5   1.74
2   14    83.2   1.91
3   16    90.1   1.54

In [19]:
df = df.astype(float)
df

    age  wieght  height
0  12.0    41.1    1.72
1  13.0    34.5    1.74
2  14.0    83.2    1.91
3  16.0    90.1    1.54

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     4 non-null      float64
 1   wieght  4 non-null      float64
 2   height  4 non-null      float64
dtypes: float64(3)
memory usage: 224.0 bytes

In [23]:
df = df.astype({'age':int})
df

   age  wieght  height
0   12    41.1    1.72
1   13    34.5    1.74
2   14    83.2    1.91
3   16    90.1    1.54

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     4 non-null      int32
 1   wieght  4 non-null      float64
 2   height  4 non-null      float64
dtypes: float64(2), int32(1)
memory usage: 208.0 bytes

In [27]:
df = df.astype({'age':np.int16})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     4 non-null      int16
 1   wieght  4 non-null      float64
 2   height  4 non-null      float64
dtypes: float64(2), int16(1)
memory usage: 200.0 bytes

In [28]:
nutrition.iloc[:4,:].astype(float)

# ValueError: could not convert string to float: '100 g'

ValueError: could not convert string to float: '100 g'

In [29]:
float(714)

714.0

In [30]:
float('714')

714.0

In [31]:
float('714g')

ValueError: could not convert string to float: '714g'