In [1]:
data_url = 'https://gist.githubusercontent.com/sh7ata/56976975b3c67caabb2efd80bb3a8467/raw/f1b7d2abf6770548edafee58ea15be71e2d28aac/Nutrition.csv'

In [2]:
import pandas as pd

In [9]:
nutrition = pd.read_csv(data_url, index_col=[1])
nutrition = nutrition.drop('Unnamed: 0', axis=1)
nutrition.head(n=2)

,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,folic_acid,niacin,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
name,,,,,,,,,,,,,,,,,,,,,
Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,0.00 mcg,0.000 mg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,0.00 mcg,1.167 mg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g

In [10]:
df = pd.DataFrame({
    'age':[12,13,14,16],
    'wieght':[41.1,34.5,83.2,90.1],
    'height':['1.72','1.74','1.91','1.54']
    })

In [12]:
df =df.astype(float)
df

    age  wieght  height
0  12.0    41.1    1.72
1  13.0    34.5    1.74
2  14.0    83.2    1.91
3  16.0    90.1    1.54

In [13]:
df.rename(index={0:'Pikachu'})

          age  wieght  height
Pikachu  12.0    41.1    1.72
1        13.0    34.5    1.74
2        14.0    83.2    1.91
3        16.0    90.1    1.54

In [14]:
df.rename(index={1:'Andy'})

       age  wieght  height
0     12.0    41.1    1.72
Andy  13.0    34.5    1.74
2     14.0    83.2    1.91
3     16.0    90.1    1.54

In [16]:
df.rename(columns={'wieght':'Weight (kg)'}, index={0:'Pikachu',1:'Andy'}, inplace=True)
df

          age  Weight (kg)  height
Pikachu  12.0         41.1    1.72
Andy     13.0         34.5    1.74
2        14.0         83.2    1.91
3        16.0         90.1    1.54

In [21]:
df = pd.DataFrame({
    'age':[12,13,14,16],
    'wieght':[41.1,34.5,83.2,90.1],
    'height':['1.72','1.74','1.91','1.54']
    })
df.astype(float)

    age  wieght  height
0  12.0    41.1    1.72
1  13.0    34.5    1.74
2  14.0    83.2    1.91
3  16.0    90.1    1.54

In [24]:
df.rename(mapper={'height': 'Height (m)'},axis=1)

   age  wieght Height (m)
0   12    41.1       1.72
1   13    34.5       1.74
2   14    83.2       1.91
3   16    90.1       1.54

In [25]:
df.rename(mapper={'height': 'Height (m)'},axis='columns')

   age  wieght Height (m)
0   12    41.1       1.72
1   13    34.5       1.74
2   14    83.2       1.91
3   16    90.1       1.54

In [26]:
df.axes[1]

Index(['age', 'wieght', 'height'], dtype='object')

In [27]:
df.axes[0]

RangeIndex(start=0, stop=4, step=1)