Create a series of length 100 containing the quares of integers from 0 to 99. Assign it to the variable squares.

In [5]:
import pandas as pd

In [6]:
squares = pd.Series(data=(x**2 for x in range(100)))
squares.tail()

95    9025
96    9216
97    9409
98    9604
99    9801
dtype: int64

Extract the last three items from the squares series using square bracket indexing

In [7]:
squares[[97,98,99]]

97    9409
98    9604
99    9801
dtype: int64

In [8]:
squares[97:100]

97    9409
98    9604
99    9801
dtype: int64

In [9]:
squares[100:96:-1]

99    9801
98    9604
97    9409
dtype: int64

In [10]:
squares[-1:96:-1]

99    9801
98    9604
97    9409
dtype: int64

In [11]:
squares[:96:-1]

99    9801
98    9604
97    9409
dtype: int64

Repeat Step 2 but using the .tail() method instead.

In [12]:
squares.tail(n=3)

97    9409
98    9604
99    9801
dtype: int64

Veriry that the output of step 2 and 3 is the same using the .equals() method

In [13]:
squares[97::]

97    9409
98    9604
99    9801
dtype: int64

In [14]:
squares.tail(n=3)

97    9409
98    9604
99    9801
dtype: int64

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.equals.html

In [15]:
pd.Series.equals(squares[97::], squares.tail(n=3))

True