The head() And tail() Methods

In [1]:
import pandas as pd
int_series = pd.Series([i for i in range(60)])
int_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [2]:
pd.Series(range(60))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [3]:
int_series.size

60

In [4]:
len(int_series)

60

In [5]:
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [6]:
int_series.tail()

55    55
56    56
57    57
58    58
59    59
dtype: int64

In [7]:
int_series.tail(15)

45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [8]:
int_series.head(2)

0    0
1    1
dtype: int64

In [9]:
int_series.head(n=7)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [10]:
int_series.tail(n=6)

54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [11]:
pd.Series(range(10000))

0          0
1          1
2          2
3          3
4          4
        ...
9995    9995
9996    9996
9997    9997
9998    9998
9999    9999
Length: 10000, dtype: int64

In [12]:
pd.Series(range(100))

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [13]:
pd.options.display.min_rows=8

In [14]:
pd.Series(range(100))

0      0
1      1
2      2
3      3
      ..
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

Extracting By Index Position

In [15]:
from string import ascii_lowercase
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [16]:
pd.Series(ascii_lowercase)

0    abcdefghijklmnopqrstuvwxyz
dtype: object

In [17]:
list(ascii_lowercase)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [18]:
len(list(ascii_lowercase))

26

In [19]:
alphabet = pd.Series(list(ascii_lowercase))
alphabet.head(6)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [20]:
alphabet[2]

'c'

In [21]:
alphabet[0]

'a'

1. What is the first letter?
2. What is the 11th letter?
3. What are the first three letters?
4. What are the sixth through tenth letters?
5. What are the last siz letters?

In [22]:
print(alphabet[0])
print(alphabet[10])
print(alphabet.head(3))
print(alphabet[5:10])
print(alphabet.tail(6))

a
k
0    a
1    b
2    c
dtype: object
5    f
6    g
7    h
8    i
9    j
dtype: object
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [23]:
# 3
alphabet[:3]

0    a
1    b
2    c
dtype: object

In [24]:
# 4
alphabet[5:10]

5    f
6    g
7    h
8    i
9    j
dtype: object

In [25]:
# 5
alphabet[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Accessing Elements By Labels

In [26]:
from string import ascii_uppercase

In [27]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [28]:
ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [29]:
labeled_alphabet = pd.Series(data=list(ascii_lowercase), index=map(lambda x: 'label_' + x, list(ascii_uppercase)))

In [30]:
labeled_alphabet.head(3)

label_A    a
label_B    b
label_C    c
dtype: object

In [31]:
labeled_alphabet[0]

'a'

1. What is the first letter?
2. What is the 11th letter?
3. What are the first three letters?
4. What are the sixth through tenth letters?
5. What are the last sixt letters?

In [32]:
labeled_alphabet['label_A']

'a'

In [33]:
labeled_alphabet['label_K']

'k'

In [34]:
labeled_alphabet['label_A':'label_C']

label_A    a
label_B    b
label_C    c
dtype: object

In [35]:
labeled_alphabet[6:10]

label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [36]:
labeled_alphabet['label_G':'label_J']

label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [37]:
labeled_alphabet[-6:]

label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [38]:
labeled_alphabet['label_U':]

label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

BONUS - The add_prefix() and add_suffix() methods

In [39]:
map(lambda x: 'label_' + x , list(ascii_uppercase))

In [40]:
alphabet.head()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [41]:
alphabet.add_prefix('label_')

label_0     a
label_1     b
label_2     c
label_3     d
label_4     e
label_5     f
label_6     g
label_7     h
label_8     i
label_9     j
label_10    k
label_11    l
label_12    m
label_13    n
label_14    o
label_15    p
label_16    q
label_17    r
label_18    s
label_19    t
label_20    u
label_21    v
label_22    w
label_23    x
label_24    y
label_25    z
dtype: object

In [42]:
alphabet.add_suffix("_some_qll_ending")

0_some_qll_ending     a
1_some_qll_ending     b
2_some_qll_ending     c
3_some_qll_ending     d
4_some_qll_ending     e
5_some_qll_ending     f
6_some_qll_ending     g
7_some_qll_ending     h
8_some_qll_ending     i
9_some_qll_ending     j
10_some_qll_ending    k
11_some_qll_ending    l
12_some_qll_ending    m
13_some_qll_ending    n
14_some_qll_ending    o
15_some_qll_ending    p
16_some_qll_ending    q
17_some_qll_ending    r
18_some_qll_ending    s
19_some_qll_ending    t
20_some_qll_ending    u
21_some_qll_ending    v
22_some_qll_ending    w
23_some_qll_ending    x
24_some_qll_ending    y
25_some_qll_ending    z
dtype: object

In [43]:
alphabet

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [44]:
alphabet = alphabet.add_suffix('_ql')

In [45]:
alphabet = alphabet.add_prefix('label_')

In [46]:
alphabet

label_0_ql     a
label_1_ql     b
label_2_ql     c
label_3_ql     d
label_4_ql     e
label_5_ql     f
label_6_ql     g
label_7_ql     h
label_8_ql     i
label_9_ql     j
label_10_ql    k
label_11_ql    l
label_12_ql    m
label_13_ql    n
label_14_ql    o
label_15_ql    p
label_16_ql    q
label_17_ql    r
label_18_ql    s
label_19_ql    t
label_20_ql    u
label_21_ql    v
label_22_ql    w
label_23_ql    x
label_24_ql    y
label_25_ql    z
dtype: object

Using Don Notation

In [47]:
labeled_alphabet['label_V']

'v'

In [48]:
labeled_alphabet.dtype

dtype('O')

In [1]:
labeled_alphabet.name

NameError: name 'labeled_alphabet' is not defined

In [50]:
labeled_alphabet.label_V

'v'

In [51]:
labeled_alphabet['label_V':'label_X']

label_V    v
label_W    w
label_X    x
dtype: object

In [52]:
labeled_alphabet.label_V

'v'

In [53]:
labeled_alphabet.label_V:label_X

NameError: name 'label_X' is not defined

In [ ]:
labeled_alphabet.label V more label

SyntaxError: invalid syntax (<ipython-input-58-38f829728221>, line 1)

In [ ]:
labeled_alphabet['label_G']

'g'

In [ ]:
labeled_alphabet.tail(3)

label_X    x
label_Y    y
label_Z    z
dtype: object

In [ ]:
labeled_alphabet.head(2)

label_A    a
label_B    b
dtype: object