In [1]:
import pandas as pd

In [2]:
students = ['Andrew', 'Brie', 'Kanika']

In [3]:
type(students)

list

In [4]:
pd.Series(students)

0    Andrew
1      Brie
2    Kanika
dtype: object

In [5]:
ages = [27, 49, 37]

In [6]:
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

In [7]:
heights = [167.4 , 173.2, 190.0]

In [8]:
pd.Series(heights)

0    167.4
1    173.2
2    190.0
dtype: float64

In [10]:
mixed = [True, 'say', {'my_mood':100}]

In [11]:
pd.Series(mixed)

0                True
1                 say
2    {'my_mood': 100}
dtype: object

# Parameters vs. Arguments

In [12]:
pd.Series(students)

0    Andrew
1      Brie
2    Kanika
dtype: object

In [15]:
# data in pd.Series is parameter
pd.Series(data=students)

0    Andrew
1      Brie
2    Kanika
dtype: object

In [17]:
# python and general programming terminoloty
def greeting(something):
    print(something)

In [18]:
greeting('good morning to you')

good morning to you

What's in the Data

In [19]:
books_list = ['Fooled by Randomness', 'Sapiens', 'Lenin on the Train']

In [27]:
list_s = pd.Series(books_list)

In [28]:
print(books_list[0])

Fooled by Randomness

In [29]:
books_dict = {0:'Fooled by Randomness', 1:'Sapiens', 2:'Lenin on the Train'}
dict_s = pd.Series(books_dict)

In [31]:
list_s.equals(dict_s)

True

In [32]:
pd.Series('Andy')

0    Andy
dtype: object

In [33]:
pd.Series(714)

0    714
dtype: int64

The .dtype Attribute

In [34]:
ages

[27, 49, 37]

In [35]:
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

In [38]:
pd.Series(ages, dtype=float)

0    27.0
1    49.0
2    37.0
dtype: float64

In [39]:
pd.Series(ages, dtype='float')

0    27.0
1    49.0
2    37.0
dtype: float64

In [40]:
names_series = pd.Series(students)

In [42]:
students

['Andrew', 'Brie', 'Kanika']

In [41]:
names_series

0    Andrew
1      Brie
2    Kanika
dtype: object

BONUS What is dtype('o) Realy?

In [43]:
# numpy  homegenous type
heights

[167.4, 173.2, 190.0]

In [44]:
pd.Series(heights)

0    167.4
1    173.2
2    190.0
dtype: float64

In [45]:
heights_2 = [167.4, '173.2', 190.0]
pd.Series(heights_2)

0    167.4
1    173.2
2    190.0
dtype: object

Index and Rangeindex

In [46]:
books_list

['Fooled by Randomness', 'Sapiens', 'Lenin on the Train']

In [47]:
list_s

0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
dtype: object

In [50]:
pd.Series(data=books_list, index=['funny', 'serious and amusing', 'kinda interesting'])

funny                  Fooled by Randomness
serious and amusing                 Sapiens
kinda interesting        Lenin on the Train
dtype: object

In [51]:
pd.Series(books_list, ['funny', 'serious and amusing', 'kinda interesting'])

funny                  Fooled by Randomness
serious and amusing                 Sapiens
kinda interesting        Lenin on the Train
dtype: object

In [52]:
pd.Series(books_list, ['funny', 'serious and amusing', 'kinda interesting'], dtype=object)

funny                  Fooled by Randomness
serious and amusing                 Sapiens
kinda interesting        Lenin on the Train
dtype: object

In [53]:
pd.__version__

'1.3.4'

In [55]:
# stringdtype
pd.Series(books_list, ['funny', 'serious and amusing', 'kinda interesting'], dtype='string')

funny                  Fooled by Randomness
serious and amusing                 Sapiens
kinda interesting        Lenin on the Train
dtype: string

In [56]:
list_s.index

RangeIndex(start=0, stop=3, step=1)

In [57]:
type(list_s.index)

pandas.core.indexes.range.RangeIndex

In [60]:
list(pd.RangeIndex(start=4, stop=7, step=1))

[4, 5, 6]

In [62]:
list(pd.RangeIndex(start=10 , stop=-11 , step=-1 ))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

Series at a Glance

In [64]:
books_series = list_s

In [65]:
books_series

0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
dtype: object

In [66]:
books_series.size

3

In [67]:
list_s.equals(dict_s)

True

In [68]:
list_s.dtype

dtype('O')

In [70]:
books_series.name

In [71]:
print(books_series.name)

None

In [72]:
books_series.name == None

True

In [73]:
books_series.name = 'My favorite books'

In [74]:
books_series

0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
Name: My favorite books, dtype: object

In [75]:
books_series.index.name

In [76]:
print(books_series.index.name)

None

In [77]:
books_series.index.name == None

True

In [78]:
books_series.index.name = 'My books'

In [79]:
books_series

My books
0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
Name: My favorite books, dtype: object