In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.1'

# The Python datetime Module

In [3]:
# agenda:
# - the "what" and "why" of datetime module
# - date class
# - time class
# - the datetime class

In [4]:
# datetime
# NameError: name 'datetime' is not defined

In [5]:
from datetime import date, time, datetime

In [6]:
# year - month - day

In [7]:
date_A = date(2020, 4 , 25)

In [8]:
type(date_A)

datetime.date

In [9]:
date_A

datetime.date(2020, 4, 25)

In [10]:
A = '2020 , 4 , 5'

In [11]:
A

'2020 , 4 , 5'

In [12]:
date_A.year

2020

In [13]:
date_A.day

25

# the time class
## hour - minute - second - microsecond

In [14]:
time_A = time(4, 30, 12, 943212)

In [15]:
time_A

datetime.time(4, 30, 12, 943212)

In [16]:
time_B = time(6)

In [17]:
time_B

datetime.time(6, 0)

In [18]:
time_A.second

12

In [19]:
time_B.microsecond

0

In [20]:

time_A.isoformat()

'04:30:12.943212'

In [21]:
time_A

datetime.time(4, 30, 12, 943212)

# the datetime class

In [22]:
dt_A = datetime(2022, 11, 17, 17,37,45)

In [23]:
dt_A

datetime.datetime(2022, 11, 17, 17, 37, 45)

In [24]:
type(dt_A)

datetime.datetime

In [25]:
datetime.now()

datetime.datetime(2022, 11, 17, 18, 10, 36, 277046)

In [26]:
dt_A - datetime.now()

datetime.timedelta(days=-1, seconds=84428, microseconds=706927)

In [27]:
datetime.now() - dt_A

datetime.timedelta(seconds=1971, microseconds=310392)

In [28]:
print(dt_A)

2022-11-17 17:37:45

In [29]:
dt_B = datetime.now()

In [30]:
print(dt_B)

2022-11-17 18:10:36.343015

In [31]:
dt_B - dt_A

datetime.timedelta(seconds=1971, microseconds=343015)

In [32]:
print(dt_B - dt_A)

0:32:51.343015

# Parsing Dates from text
### Whta if we don't have date objects?

In [33]:
# datetime -> strptime (sting pares time)

In [34]:
dt_C = datetime.strptime('2019-10-31','%Y-%m-%d')

In [35]:
dt_C.isoformat()

'2019-10-31T00:00:00'

In [36]:
dt_C.year

2019

In [37]:
# another example
try_this = 'jan 20 2090 4pm'

In [38]:
datetime.strptime(try_this, '%b %d %Y %I%p')

datetime.datetime(2090, 1, 20, 16, 0)

# Even Better: dateutil

In [41]:
pip show python-dateutil

Name: python-dateutil
Version: 2.8.2
Summary: Extensions to the standard Python datetime module
Home-page: https://github.com/dateutil/dateutil
Author: Gustavo Niemeyer
Author-email: gustavo@niemeyer.net
License: Dual License
Location: /Users/tomaszbury/Library/Python/3.11/lib/python/site-packages
Requires: six
Required-by: jupyter_client, pandas
Note: you may need to restart the kernel to use updated packages.

In [42]:
from dateutil import parser

In [43]:
parser.parse(try_this)

datetime.datetime(2090, 1, 20, 16, 0)

In [44]:
parser.parse('jan 21st 1990')

datetime.datetime(1990, 1, 21, 0, 0)

In [45]:
parser.parse('22 april 2068 at 4pm and 17 minutes 20 seconds')

datetime.datetime(2068, 4, 22, 16, 17, 20)

In [50]:
try_this_wrong = ' jan 20 2090; 4pm'
datetime.strptime(try_this_wrong, ' %b %d %Y; %I%p')

datetime.datetime(2090, 1, 20, 16, 0)

In [51]:
parser.parse(try_this_wrong)

datetime.datetime(2090, 1, 20, 16, 0)

# From DateTime To String
Cnvert text to tates:
* datetime strptime()
* datetutil parse()
* the strftime()

In [52]:
dt = datetime.now()

In [53]:
dt

datetime.datetime(2022, 11, 17, 19, 10, 26, 676345)

In [54]:
dt.strftime('%Y')

'2022'

In [55]:
dt.year

2022

In [56]:
type(dt.year)

int

In [57]:
type(dt.strftime('%Y %m'))

str

In [58]:
dt.strftime('Year: %Y; Month: %m; Day: %d')

'Year: 2022; Month: 11; Day: 17'

In [59]:
dt.strftime('%c')

'Thu Nov 17 19:10:26 2022'

an alternative approach:

"My date is {:%c}"

In [60]:
"My date is {:%c}".format(dt)

'My date is Thu Nov 17 19:10:26 2022'

# Performant Datetimes With Numpy
Previously: puthon time, date, datetime from datetime module
### Agenda:
* the numpy datetime64
* tradeoff between precision and span
* vectorized operation on arrays of dates

In [61]:
np.datetime64('2022-03-04')

numpy.datetime64('2022-03-04')

In [63]:
A = np.datetime64('2022-03-04')
B = np.datetime64(datetime.now())

In [65]:
A

numpy.datetime64('2022-03-04')

In [67]:
A + 10

numpy.datetime64('2022-03-14')

In [68]:
B

numpy.datetime64('2022-11-17T19:22:59.442500')

In [69]:
B + 10

numpy.datetime64('2022-11-17T19:22:59.442510')

In [70]:
np.datetime64(B, 'D')

numpy.datetime64('2022-11-17')

In [71]:
B

numpy.datetime64('2022-11-17T19:22:59.442500')

In [73]:
np.datetime64(B, 'D') + 10

numpy.datetime64('2022-11-27')

Vectorized ops

In [75]:
np.array([
    '2022-02-20',
    '2019-06-20',
    '2090-03-23'
], dtype=np.datetime64)

array(['2022-02-20', '2019-06-20', '2090-03-23'], dtype='datetime64[D]')

In [76]:
dates = np.array([
    '2022-02-20',
    '2019-06-20',
    '2090-03-23'
], dtype=np.datetime64)

In [77]:
dates - 10

array(['2022-02-10', '2019-06-10', '2090-03-13'], dtype='datetime64[D]')

.... what about businesdayss days

In [78]:
np.busday_offset(dates, offsets=-10, roll='backward')

array(['2022-02-04', '2019-06-06', '2090-03-09'], dtype='datetime64[D]')