In [20]:
import pandas as pd
import numpy as np

In [21]:
pd.__version__

'1.5.1'

# The Python datetime Module

In [22]:
# agenda:
# - the "what" and "why" of datetime module
# - date class
# - time class
# - the datetime class

In [23]:
# datetime
# NameError: name 'datetime' is not defined

In [43]:
from datetime import date, time, datetime

In [44]:
# year - month - day

In [45]:
date_A = date(2020, 4 , 25)

In [46]:
type(date_A)

datetime.date

In [47]:
date_A

datetime.date(2020, 4, 25)

In [48]:
A = '2020 , 4 , 5'

In [49]:
A

'2020 , 4 , 5'

In [50]:
date_A.year

2020

In [51]:
date_A.day

25

# the time class
## hour - minute - second - microsecond

In [52]:
time_A = time(4, 30, 12, 943212)

In [53]:
time_A

datetime.time(4, 30, 12, 943212)

In [54]:
time_B = time(6)

In [55]:
time_B

datetime.time(6, 0)

In [56]:
time_A.second

12

In [57]:
time_B.microsecond

0

In [58]:

time_A.isoformat()

'04:30:12.943212'

In [59]:
time_A

datetime.time(4, 30, 12, 943212)

# the datetime class

In [60]:
dt_A = datetime(2022, 11, 17, 17,37,45)

In [61]:
dt_A

datetime.datetime(2022, 11, 17, 17, 37, 45)

In [62]:
type(dt_A)

datetime.datetime

In [63]:
datetime.now()

datetime.datetime(2022, 11, 17, 17, 38, 35, 752966)

In [65]:
dt_A - datetime.now()

datetime.timedelta(days=-1, seconds=86308, microseconds=69349)

In [66]:
datetime.now() - dt_A

datetime.timedelta(seconds=120, microseconds=623259)

In [68]:
print(dt_A)

2022-11-17 17:37:45

In [69]:
dt_B = datetime.now()

In [71]:
print(dt_B)

2022-11-17 17:40:26.981673

In [72]:
dt_B - dt_A

datetime.timedelta(seconds=161, microseconds=981673)

In [73]:
print(dt_B - dt_A)

0:02:41.981673

# Parsing Dates from text
### Whta if we don't have date objects?

In [74]:
# datetime -> strptime (sting pares time)

In [80]:
dt_C = datetime.strptime('2019-10-31','%Y-%m-%d')

In [81]:
dt_C.isoformat()

'2019-10-31T00:00:00'

In [82]:
dt_C.year

2019

In [93]:
# another example
try_this = 'jan 20 2090 4pm'

In [94]:
datetime.strptime(try_this, '%b %d %Y %I%p')

datetime.datetime(2090, 1, 20, 16, 0)