In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.1'

# The Python datetime Module

In [3]:
# agenda:
# - the "what" and "why" of datetime module
# - date class
# - time class
# - the datetime class

In [4]:
# datetime
# NameError: name 'datetime' is not defined

In [5]:
from datetime import date, time, datetime

In [6]:
# year - month - day

In [7]:
date_A = date(2020, 4 , 25)

In [8]:
type(date_A)

datetime.date

In [9]:
date_A

datetime.date(2020, 4, 25)

In [10]:
A = '2020 , 4 , 5'

In [11]:
A

'2020 , 4 , 5'

In [12]:
date_A.year

2020

In [13]:
date_A.day

25

# the time class
## hour - minute - second - microsecond

In [14]:
time_A = time(4, 30, 12, 943212)

In [15]:
time_A

datetime.time(4, 30, 12, 943212)

In [16]:
time_B = time(6)

In [17]:
time_B

datetime.time(6, 0)

In [18]:
time_A.second

12

In [19]:
time_B.microsecond

0

In [20]:

time_A.isoformat()

'04:30:12.943212'

In [21]:
time_A

datetime.time(4, 30, 12, 943212)

# the datetime class

In [22]:
dt_A = datetime(2022, 11, 17, 17,37,45)

In [23]:
dt_A

datetime.datetime(2022, 11, 17, 17, 37, 45)

In [24]:
type(dt_A)

datetime.datetime

In [25]:
datetime.now()

datetime.datetime(2022, 11, 19, 17, 35, 44, 573429)

In [26]:
dt_A - datetime.now()

datetime.timedelta(days=-2, seconds=120, microseconds=407544)

In [27]:
datetime.now() - dt_A

datetime.timedelta(days=1, seconds=86279, microseconds=612380)

In [28]:
print(dt_A)

2022-11-17 17:37:45

In [29]:
dt_B = datetime.now()

In [30]:
print(dt_B)

2022-11-19 17:35:44.648264

In [31]:
dt_B - dt_A

datetime.timedelta(days=1, seconds=86279, microseconds=648264)

In [32]:
print(dt_B - dt_A)

1 day, 23:57:59.648264

# Parsing Dates from text
### Whta if we don't have date objects?

In [33]:
# datetime -> strptime (sting pares time)

In [34]:
dt_C = datetime.strptime('2019-10-31','%Y-%m-%d')

In [35]:
dt_C.isoformat()

'2019-10-31T00:00:00'

In [36]:
dt_C.year

2019

In [37]:
# another example
try_this = 'jan 20 2090 4pm'

In [38]:
datetime.strptime(try_this, '%b %d %Y %I%p')

datetime.datetime(2090, 1, 20, 16, 0)

# Even Better: dateutil

In [39]:
pip show python-dateutil

Name: python-dateutil
Version: 2.8.2
Summary: Extensions to the standard Python datetime module
Home-page: https://github.com/dateutil/dateutil
Author: Gustavo Niemeyer
Author-email: gustavo@niemeyer.net
License: Dual License
Location: /Users/tomaszbury/Library/Python/3.11/lib/python/site-packages
Requires: six
Required-by: jupyter_client, pandas
Note: you may need to restart the kernel to use updated packages.

In [40]:
from dateutil import parser

In [41]:
parser.parse(try_this)

datetime.datetime(2090, 1, 20, 16, 0)

In [42]:
parser.parse('jan 21st 1990')

datetime.datetime(1990, 1, 21, 0, 0)

In [43]:
parser.parse('22 april 2068 at 4pm and 17 minutes 20 seconds')

datetime.datetime(2068, 4, 22, 16, 17, 20)

In [44]:
try_this_wrong = ' jan 20 2090; 4pm'
datetime.strptime(try_this_wrong, ' %b %d %Y; %I%p')

datetime.datetime(2090, 1, 20, 16, 0)

In [45]:
parser.parse(try_this_wrong)

datetime.datetime(2090, 1, 20, 16, 0)

# From DateTime To String
Cnvert text to tates:
* datetime strptime()
* datetutil parse()
* the strftime()

In [46]:
dt = datetime.now()

In [47]:
dt

datetime.datetime(2022, 11, 19, 17, 35, 45, 658615)

In [48]:
dt.strftime('%Y')

'2022'

In [49]:
dt.year

2022

In [50]:
type(dt.year)

int

In [51]:
type(dt.strftime('%Y %m'))

str

In [52]:
dt.strftime('Year: %Y; Month: %m; Day: %d')

'Year: 2022; Month: 11; Day: 19'

In [53]:
dt.strftime('%c')

'Sat Nov 19 17:35:45 2022'

an alternative approach:

"My date is {:%c}"

In [54]:
"My date is {:%c}".format(dt)

'My date is Sat Nov 19 17:35:45 2022'

# Performant Datetimes With Numpy
Previously: puthon time, date, datetime from datetime module
### Agenda:
* the numpy datetime64
* tradeoff between precision and span
* vectorized operation on arrays of dates

In [55]:
np.datetime64('2022-03-04')

numpy.datetime64('2022-03-04')

In [56]:
A = np.datetime64('2022-03-04')
B = np.datetime64(datetime.now())

In [57]:
A

numpy.datetime64('2022-03-04')

In [58]:
A + 10

numpy.datetime64('2022-03-14')

In [59]:
B

numpy.datetime64('2022-11-19T17:35:45.844883')

In [60]:
B + 10

numpy.datetime64('2022-11-19T17:35:45.844893')

In [61]:
np.datetime64(B, 'D')

numpy.datetime64('2022-11-19')

In [62]:
B

numpy.datetime64('2022-11-19T17:35:45.844883')

In [63]:
np.datetime64(B, 'D') + 10

numpy.datetime64('2022-11-29')

Vectorized ops

In [64]:
np.array([
    '2022-02-20',
    '2019-06-20',
    '2090-03-23'
], dtype=np.datetime64)

array(['2022-02-20', '2019-06-20', '2090-03-23'], dtype='datetime64[D]')

In [65]:
dates = np.array([
    '2022-02-20',
    '2019-06-20',
    '2090-03-23'
], dtype=np.datetime64)

In [66]:
dates - 10

array(['2022-02-10', '2019-06-10', '2090-03-13'], dtype='datetime64[D]')

.... what about businesdayss days

In [67]:
np.busday_offset(dates, offsets=-10, roll='backward')

array(['2022-02-04', '2019-06-06', '2090-03-09'], dtype='datetime64[D]')

# The Pandas Timestamp
Pandas timestamp = python datetime + numpy datetime64

In [68]:
'4th of July 1776'

'4th of July 1776'

In [69]:
pd.Timestamp('4th of July 1776')

Timestamp('1776-07-04 00:00:00')

In [70]:
pd.Timestamp('4/7/1776')

Timestamp('1776-04-07 00:00:00')

In [71]:
pd.to_datetime('4/7/1776',dayfirst=True)

Timestamp('1776-07-04 00:00:00')

In [72]:
pd_ts = pd.to_datetime('4/7/1776',dayfirst=True)

In [73]:
pd_ts.day_name()

'Thursday'

In [74]:
pd_ts.days_in_month

31

In [75]:
pd_ts.quarter

3

In [76]:
pd_ts.isocalendar()

datetime.IsoCalendarDate(year=1776, week=27, weekday=4)

# Our Dataset: Bret Prices
https://andybek.com/pandas-oil

In [77]:
oil_url = 'https://andybek.com/pandas-oil'

In [78]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

brent = pd.read_csv(oil_url)

In [79]:
brent.head(n=11)

         Date  Price
0   04-Jan-00  23.95
1   05-Jan-00  23.72
2   06-Jan-00  23.55
3   07-Jan-00  23.35
4   10-Jan-00  22.77
5   11-Jan-00  23.93
6   12-Jan-00  24.62
7   13-Jan-00  24.90
8   14-Jan-00  25.50
9   17-Jan-00  25.99
10  18-Jan-00  26.31

In [80]:
brent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   object
 1   Price   5016 non-null   float64
dtypes: float64(1), object(1)
memory usage: 78.5+ KB

# Date parsing and DatetimeIndex

In [81]:
brent.head()

        Date  Price
0  04-Jan-00  23.95
1  05-Jan-00  23.72
2  06-Jan-00  23.55
3  07-Jan-00  23.35
4  10-Jan-00  22.77

In [82]:
brent.dtypes

Date      object
Price    float64
dtype: object

In [83]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   object
 1   Price   5016 non-null   float64
dtypes: float64(1), object(1)
memory usage: 362.6 KB

In [84]:
brent.Date = brent.Date.astype(np.datetime64)

In [85]:
brent.dtypes

Date     datetime64[ns]
Price           float64
dtype: object

In [86]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   datetime64[ns]
 1   Price   5016 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 78.5 KB

ns -> nanosecond -> 1/billionth of a second -> 10^ -9

In [87]:
brent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5016 non-null   datetime64[ns]
 1   Price   5016 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 78.5 KB

In [88]:
brent.Date

0      2000-01-04
1      2000-01-05
2      2000-01-06
3      2000-01-07
4      2000-01-10
          ...
5011   2019-09-24
5012   2019-09-25
5013   2019-09-26
5014   2019-09-27
5015   2019-09-30
Name: Date, Length: 5016, dtype: datetime64[ns]

In [89]:
brent.set_index('Date', inplace=True)

In [90]:
brent.head(n=3)

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55

In [91]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

In [101]:
pd.to_datetime(['3 jun 2020','jun 20 2030'])

DatetimeIndex(['2020-06-03', '2030-06-20'], dtype='datetime64[ns]', freq=None)

# 239. A Cool Shorcut: read_csv() with parse_dates
Previously:
* import data
* parse date columns
* re-assign

In [105]:
pd.read_csv(oil_url, index_col=0, parse_dates=True)

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77
...           ...
2019-09-24  64.13
2019-09-25  62.41
2019-09-26  62.08
2019-09-27  62.48
2019-09-30  60.99

[5016 rows x 1 columns]

In [106]:
brent2 = pd.read_csv(oil_url, index_col=0, parse_dates=True)

In [107]:
brent2.head()

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77

If poor data quality this may not by the best option

# 240. Indexing Dates

In [108]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

In [109]:
brent.head()

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77

Q: select the brent price on Jan 3rd 2017

In [110]:
brent.loc['2017-01-03']

Price    55.05
Name: 2017-01-03 00:00:00, dtype: float64

Q: select prices from jhan 3rd to jan 6th

In [111]:
brent.loc['2017-01-03':'2017-01-06']

            Price
Date
2017-01-03  55.05
2017-01-04  54.57
2017-01-05  54.99
2017-01-06  55.90

Q: select all prices from jan 2019

In [113]:
brent.loc['2019-01-01':'2019-01-31']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46

Partial string indexing

In [115]:
brent.loc['2019-01']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46

Q: prices from the first two months of 2019

In [116]:
brent.loc['2019-01':'2019-02']

            Price
Date
2019-01-02  54.06
2019-01-03  53.23
2019-01-04  55.64
2019-01-07  57.10
2019-01-08  56.91
2019-01-09  59.46
2019-01-10  60.47
2019-01-11  59.24
2019-01-14  58.80
2019-01-15  58.65
2019-01-16  59.81
2019-01-17  59.85
2019-01-18  62.04
2019-01-21  62.18
2019-01-22  60.90
2019-01-23  61.05
2019-01-24  61.09
2019-01-25  61.49
2019-01-28  59.71
2019-01-29  60.98
2019-01-30  61.89
2019-01-31  62.46
2019-02-01  61.86
2019-02-04  62.26
2019-02-05  61.67
2019-02-06  62.22
2019-02-07  61.01
2019-02-08  61.37
2019-02-11  61.30
2019-02-12  62.58
2019-02-13  63.27
2019-02-14  64.00
2019-02-15  65.65
2019-02-18  66.41
2019-02-19  65.86
2019-02-20  66.82
2019-02-21  66.91
2019-02-22  66.91
2019-02-25  64.02
2019-02-26  64.51
2019-02-27  65.55
2019-02-28  65.03

Q: Select prices from July 2019 to mid Aug 2019

In [117]:
brent.loc['2019-07':'2019-08-17']

            Price
Date
2019-07-01  65.10
2019-07-02  62.72
2019-07-03  63.53
2019-07-04  63.62
2019-07-05  64.23
2019-07-08  64.89
2019-07-09  64.30
2019-07-10  66.41
2019-07-11  67.64
2019-07-12  66.65
2019-07-15  66.86
2019-07-16  65.87
2019-07-17  63.67
2019-07-18  60.70
2019-07-19  61.04
2019-07-22  61.96
2019-07-23  62.28
2019-07-24  63.83
2019-07-25  63.47
2019-07-26  62.46
2019-07-29  62.29
2019-07-30  62.55
2019-07-31  64.07
2019-08-01  62.90
2019-08-02  61.12
2019-08-05  59.32
2019-08-06  58.63
2019-08-07  55.03
2019-08-08  56.29
2019-08-09  57.37
2019-08-12  57.13
2019-08-13  59.90
2019-08-14  57.86
2019-08-15  57.37
2019-08-16  59.00

# 241. Skill challenge

1. Using the brent series, create a shorter dataframe that only contains the dates from 1 December 2015 to 31 March 2016

In [118]:
brent.loc['2015-12-01':'2016-03-31']

            Price
Date
2015-12-01  42.97
2015-12-02  41.92
2015-12-03  42.00
2015-12-04  41.44
2015-12-07  39.69
...           ...
2016-03-24  38.33
2016-03-28  38.33
2016-03-29  36.75
2016-03-30  36.75
2016-03-31  36.75

[84 rows x 1 columns]

2. Repeat the above, but this using partial string indexing instead of specifying full dates. What was the standard deviation of prices during this period?

In [121]:
brent.loc['2015-12':'2016-03'].std()

Price    3.990123
dtype: float64

3. Was the mean price from February 2018 greater or les than the median price from March 2017?

In [122]:
brent.loc['2018-02'].mean()

Price    65.3175
dtype: float64

In [124]:
brent.loc['2017-03'].median()

Price    50.65
dtype: float64

In [132]:
feb_2018 = brent.loc['2018-02'].mean()[0]
march_2017 = brent.loc['2017-03'].median()[0]
feb_2018 > march_2017

True

242. Solution

1.

In [133]:
brent.loc['12/1/2015':'3/31/2016']

            Price
Date
2015-12-01  42.97
2015-12-02  41.92
2015-12-03  42.00
2015-12-04  41.44
2015-12-07  39.69
...           ...
2016-03-24  38.33
2016-03-28  38.33
2016-03-29  36.75
2016-03-30  36.75
2016-03-31  36.75

[84 rows x 1 columns]

2.

In [136]:
brent.loc['12/2015':'3/2016']

            Price
Date
2015-12-01  42.97
2015-12-02  41.92
2015-12-03  42.00
2015-12-04  41.44
2015-12-07  39.69
...           ...
2016-03-24  38.33
2016-03-28  38.33
2016-03-29  36.75
2016-03-30  36.75
2016-03-31  36.75

[84 rows x 1 columns]

In [139]:
brent.loc['dec 2015':'march 2016'].std()

Price    3.990123
dtype: float64

3.

In [142]:
brent.loc['feb 2018'].mean() > brent.loc['july 2017'].median()

Price    True
dtype: bool

243. DateTimeindex Attribute Accessors

In [143]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

In [144]:
brent.index.quarter

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
           dtype='int64', name='Date', length=5016)

In [146]:
brent.index.week

/var/folders/kz/w63f9yjx2rs32jgdg8wkn4w40000gn/T/ipykernel_2922/1436609126.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  brent.index.week

Int64Index([ 1,  1,  1,  1,  2,  2,  2,  2,  2,  3,
            ...
            38, 38, 38, 38, 39, 39, 39, 39, 39, 40],
           dtype='int64', name='Date', length=5016)

In [147]:
brent.index.month

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            9, 9, 9, 9, 9, 9, 9, 9, 9, 9],
           dtype='int64', name='Date', length=5016)

In [150]:
brent.index.isocalendar().week

Date
2000-01-04     1
2000-01-05     1
2000-01-06     1
2000-01-07     1
2000-01-10     2
              ..
2019-09-24    39
2019-09-25    39
2019-09-26    39
2019-09-27    39
2019-09-30    40
Name: week, Length: 5016, dtype: UInt32

In [151]:
brent.index.day

Int64Index([ 4,  5,  6,  7, 10, 11, 12, 13, 14, 17,
            ...
            17, 18, 19, 20, 23, 24, 25, 26, 27, 30],
           dtype='int64', name='Date', length=5016)

In [152]:
brent.index.day_name()

Index(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Monday',
       ...
       'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Monday'],
      dtype='object', name='Date', length=5016)

In [153]:
brent.head()

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55
2000-01-07  23.35
2000-01-10  22.77

Q: what day has registered the lowest Brent price, on average, in the past 19 years.

In [154]:
brent['Dayname'] = brent.index.day_name()

In [155]:
brent.head()

            Price    Dayname
Date
2000-01-04  23.95    Tuesday
2000-01-05  23.72  Wednesday
2000-01-06  23.55   Thursday
2000-01-07  23.35     Friday
2000-01-10  22.77     Monday

In [157]:
brent.groupby('Dayname').mean().idxmin()

Price    Monday
dtype: object

In [158]:
brent.drop(columns='Dayname', inplace=True)

In [159]:
brent.head(n=1)

            Price
Date
2000-01-04  23.95

bool masks with datetimeindex atributes

### Q: Find the average Brent price in all leap year Februaries
## Aside:
* regular year: 365 days
* astronomical year: 365.25
* every 4 years: .25 * 4 = 1 day and that day is added to the regular year (365, a leap year)

In [160]:
brent[(brent.index.is_leap_year == True) & (brent.index.month == 2)].mean()

Price    60.696634
dtype: float64

# 244. Creating Date Ranges

In [161]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

date_range

In [162]:
pd.date_range(start='10 may 2020', end='20 june 2020')

DatetimeIndex(['2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25',
               '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29',
               '2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02',
               '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06',
               '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10',
               '2020-06-11', '2020-06-12', '2020-06-13', '2020-06-14',
               '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18',
               '2020-06-19', '2020-06-20'],
              dtype='datetime64[ns]', freq='D')

In [163]:
pd.date_range('5/10/2020','20 june 2020')

DatetimeIndex(['2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25',
               '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29',
               '2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02',
               '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06',
               '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10',
               '2020-06-11', '2020-06-12', '2020-06-13', '2020-06-14',
               '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18',
               '2020-06-19', '2020-06-20'],
              dtype='datetime64[ns]', freq='D')

In [164]:
pd.date_range(start='1/20/2020', periods=10)

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
               '2020-01-28', '2020-01-29'],
              dtype='datetime64[ns]', freq='D')

In [165]:
pd.date_range(start='1-1-2020',periods=11, freq='m')

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30'],
              dtype='datetime64[ns]', freq='M')

In [166]:
pd.date_range(start='1/20/2020', periods=10, freq='W')

DatetimeIndex(['2020-01-26', '2020-02-02', '2020-02-09', '2020-02-16',
               '2020-02-23', '2020-03-01', '2020-03-08', '2020-03-15',
               '2020-03-22', '2020-03-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [167]:
pd.date_range(start='1-1-2020', periods=11, freq='2w')

DatetimeIndex(['2020-01-05', '2020-01-19', '2020-02-02', '2020-02-16',
               '2020-03-01', '2020-03-15', '2020-03-29', '2020-04-12',
               '2020-04-26', '2020-05-10', '2020-05-24'],
              dtype='datetime64[ns]', freq='2W-SUN')

The 20 month ends before jan 2021

In [170]:
dti = pd.date_range(end='jan 2021', periods=20, freq='m')

In [172]:
pd.DataFrame(index=dti, data=np.random.randint(100, size=(20, 4)), columns=list('abcd'))

             a   b   c   d
2019-05-31  65  33  32  30
2019-06-30  93  28  24  24
2019-07-31  24  39  33  44
2019-08-31  55  45  59  54
2019-09-30  76  36  21  21
2019-10-31  30  69  44  55
2019-11-30  20  24  50  50
2019-12-31  20  59   8  86
2020-01-31  32  34   1  42
2020-02-29  47  20  49  39
2020-03-31  35  78  68  61
2020-04-30  62  14  85  42
2020-05-31  11  47   3  28
2020-06-30  63  15  73  86
2020-07-31  47  71  84  75
2020-08-31  98  96  17  76
2020-09-30  58   7  21  61
2020-10-31   5  79  17  43
2020-11-30  70   5  75  93
2020-12-31  45  57  19  52

In [173]:
pd.DataFrame(index=dti, data=np.random.randint(100, size=(20, 4)), columns=list('abcd')).index

DatetimeIndex(['2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

# 245. Shifting Dates with pd.DateOffset
How to shift our dattimes?

In [175]:
# racing pigeon
dob = pd.Timestamp('2020-03-09')

When was the egg laid?

In [177]:
pd.DateOffset(days=18)

In [178]:
dob - pd.DateOffset(days=18)

Timestamp('2020-02-20 00:00:00')

Dateoffset suppoets many tempral params

In [180]:
pd.DateOffset(days=4, minutes=10, nanosecond=9)

In [181]:
pd.DateOffset(year=100)

In [182]:
brent.head(n=3)

            Price
Date
2000-01-04  23.95
2000-01-05  23.72
2000-01-06  23.55

In [183]:
brent.set_index(brent.index + pd.DateOffset(hour=18))

/var/folders/kz/w63f9yjx2rs32jgdg8wkn4w40000gn/T/ipykernel_2922/843337698.py:1: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.
  brent.set_index(brent.index + pd.DateOffset(hour=18))

                     Price
Date
2000-01-04 18:00:00  23.95
2000-01-05 18:00:00  23.72
2000-01-06 18:00:00  23.55
2000-01-07 18:00:00  23.35
2000-01-10 18:00:00  22.77
...                    ...
2019-09-24 18:00:00  64.13
2019-09-25 18:00:00  62.41
2019-09-26 18:00:00  62.08
2019-09-27 18:00:00  62.48
2019-09-30 18:00:00  60.99

[5016 rows x 1 columns]

In [186]:
brent.set_index(brent.index + np.timedelta64(18, 'h'))

                     Price
Date
2000-01-04 18:00:00  23.95
2000-01-05 18:00:00  23.72
2000-01-06 18:00:00  23.55
2000-01-07 18:00:00  23.35
2000-01-10 18:00:00  22.77
...                    ...
2019-09-24 18:00:00  64.13
2019-09-25 18:00:00  62.41
2019-09-26 18:00:00  62.08
2019-09-27 18:00:00  62.48
2019-09-30 18:00:00  60.99

[5016 rows x 1 columns]

In [189]:
%%time
brent.set_index(brent.index + pd.DateOffset(hour=18))

CPU times: user 65.5 ms, sys: 1.81 ms, total: 67.3 ms
Wall time: 66.1 ms

<timed eval>:1: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.

                     Price
Date
2000-01-04 18:00:00  23.95
2000-01-05 18:00:00  23.72
2000-01-06 18:00:00  23.55
2000-01-07 18:00:00  23.35
2000-01-10 18:00:00  22.77
...                    ...
2019-09-24 18:00:00  64.13
2019-09-25 18:00:00  62.41
2019-09-26 18:00:00  62.08
2019-09-27 18:00:00  62.48
2019-09-30 18:00:00  60.99

[5016 rows x 1 columns]

In [190]:
%%time
brent.set_index(brent.index + np.timedelta64(18, 'h'))

CPU times: user 779 Âµs, sys: 517 Âµs, total: 1.3 ms
Wall time: 899 Âµs

                     Price
Date
2000-01-04 18:00:00  23.95
2000-01-05 18:00:00  23.72
2000-01-06 18:00:00  23.55
2000-01-07 18:00:00  23.35
2000-01-10 18:00:00  22.77
...                    ...
2019-09-24 18:00:00  64.13
2019-09-25 18:00:00  62.41
2019-09-26 18:00:00  62.08
2019-09-27 18:00:00  62.48
2019-09-30 18:00:00  60.99

[5016 rows x 1 columns]

In [191]:
brent.set_index(brent.index + np.timedelta64(18, 'h')).index

DatetimeIndex(['2000-01-04 18:00:00', '2000-01-05 18:00:00',
               '2000-01-06 18:00:00', '2000-01-07 18:00:00',
               '2000-01-10 18:00:00', '2000-01-11 18:00:00',
               '2000-01-12 18:00:00', '2000-01-13 18:00:00',
               '2000-01-14 18:00:00', '2000-01-17 18:00:00',
               ...
               '2019-09-17 18:00:00', '2019-09-18 18:00:00',
               '2019-09-19 18:00:00', '2019-09-20 18:00:00',
               '2019-09-23 18:00:00', '2019-09-24 18:00:00',
               '2019-09-25 18:00:00', '2019-09-26 18:00:00',
               '2019-09-27 18:00:00', '2019-09-30 18:00:00'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

In [192]:
brent.index

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07',
               '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13',
               '2000-01-14', '2000-01-17',
               ...
               '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20',
               '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
               '2019-09-27', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

In [193]:
brent.set_index(brent.index + np.timedelta64(18, 'h'), inplace=True)

In [194]:
brent.index

DatetimeIndex(['2000-01-04 18:00:00', '2000-01-05 18:00:00',
               '2000-01-06 18:00:00', '2000-01-07 18:00:00',
               '2000-01-10 18:00:00', '2000-01-11 18:00:00',
               '2000-01-12 18:00:00', '2000-01-13 18:00:00',
               '2000-01-14 18:00:00', '2000-01-17 18:00:00',
               ...
               '2019-09-17 18:00:00', '2019-09-18 18:00:00',
               '2019-09-19 18:00:00', '2019-09-20 18:00:00',
               '2019-09-23 18:00:00', '2019-09-24 18:00:00',
               '2019-09-25 18:00:00', '2019-09-26 18:00:00',
               '2019-09-27 18:00:00', '2019-09-30 18:00:00'],
              dtype='datetime64[ns]', name='Date', length=5016, freq=None)

# 246. BONUS: Timedelts and absolute time
the TimeDelta class

In [195]:
pd.Timedelta(days=3, hours=4)

Timedelta('3 days 04:00:00')

In [196]:
pd.DateOffset(days=3, hours=4)

In [198]:
brent.iloc[0].name

Timestamp('2000-01-04 18:00:00')

In [199]:
ts = brent.iloc[0].name
ts + pd.Timedelta(days=3, hours=4)

Timestamp('2000-01-07 22:00:00')

In [201]:
ts + pd.DateOffset(days=3, hours=4)

Timestamp('2000-01-07 22:00:00')

* dateoffset -> calendar-aware (day could be 23-25 hours)
* timedelta -> absolute time (day = 24 hours)

In [203]:
dts = pd.Timestamp('14 march 2021', tz='US/Eastern')

In [205]:
dts

Timestamp('2021-03-14 00:00:00-0500', tz='US/Eastern')

In [206]:
dts  + pd.DateOffset(days=1)

Timestamp('2021-03-15 00:00:00-0400', tz='US/Eastern')

In [207]:
dts + pd.Timedelta(days=1)

Timestamp('2021-03-15 01:00:00-0400', tz='US/Eastern')

In [209]:
dts + np.timedelta64(1, 'D')

Timestamp('2021-03-15 01:00:00-0400', tz='US/Eastern')