In [57]:
import pandas as pd
import numpy as np

In [58]:
pd.__version__

'1.4.2'

In [59]:
games_url = 'http://andybek.com/pandas-games'

In [60]:
games = pd.read_csv(games_url)
games.head(n=6)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
5,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24

In [61]:
games.sort_values(by='JP_Sales', ascending=False).head(n=21)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
58,Final Fantasy XIII,PS3,2009.0,Role-Playing,Square Enix,1.74,1.24,1.87,0.52,5.36
64,Resident Evil 5,PS3,2009.0,Action,Capcom,1.96,1.43,1.08,0.65,5.11
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
181,Final Fantasy XIII-2,PS3,2011.0,Role-Playing,Square Enix,0.78,0.75,0.89,0.26,2.68
136,Resident Evil 6,PS3,2012.0,Shooter,Capcom,0.88,0.97,0.88,0.42,3.15
488,One Piece: Pirate Warriors,PS3,2012.0,Action,Namco Bandai Games,0.01,0.24,0.86,0.09,1.20
48,Metal Gear Solid 4: Guns of the Patriots,PS3,2008.0,Action,Konami Digital Entertainment,2.63,1.74,0.83,0.83,6.03
14,Gran Turismo 5,PS3,2010.0,Racing,Sony Computer Entertainment,2.96,4.88,0.81,2.12,10.77
513,Hot Shots Golf: Out of Bounds,PS3,2007.0,Sports,Sony Computer Entertainment,0.31,0.03,0.76,0.04,1.14
311,Dragon's Dogma,PS3,2012.0,Role-Playing,Capcom,0.41,0.46,0.72,0.19,1.78
474,Tales of Xillia,PS3,2011.0,Role-Playing,Namco Bandai Games,0.29,0.19,0.67,0.09,1.24
6,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
619,Yakuza 4,PS3,NaN,Action,Sega,0.15,0.14,0.63,0.05,0.97
520,Yakuza 3,PS3,2009.0,Action,Sega,0.21,0.21,0.62,0.08,1.13
986,Yakuza 5,PS3,2012.0,Action,Sega,0.00,0.00,0.59,0.00,0.59
90,Street Fighter IV,PS3,2009.0,Fighting,Capcom,2.02,1.06,0.58,0.53,4.19
952,Warriors Orochi 3,PS3,2011.0,Action,Ubisoft Annecy,0.00,0.04,0.57,0.01,0.62
88,Gran Turismo 5 Prologue,PS3,2007.0,Racing,Sony Computer Entertainment,1.28,1.83,0.57,0.53,4.20
239,Pro Evolution Soccer 2012,PS3,2011.0,Action,Konami Digital Entertainment,0.34,0.97,0.55,0.33,2.19
897,Fist of the North Star: Ken's Rage,PS3,2010.0,Action,Ubisoft Annecy,0.06,0.03,0.55,0.02,0.66
1058,Kidou Senshi Gundam: Extreme VS,PS3,2011.0,Fighting,Namco Bandai Games,0.00,0.00,0.54,0.00,0.54

In [62]:
games.describe()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,3088.000000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000
mean,2011.174223,0.373306,0.252510,0.034063,0.089962,0.749908
std,2.877156,0.801483,0.570164,0.093115,0.203866,1.500717
min,2005.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2009.000000,0.040000,0.010000,0.000000,0.010000,0.100000
50%,2011.000000,0.140000,0.070000,0.000000,0.030000,0.270000
75%,2014.000000,0.360000,0.250000,0.030000,0.090000,0.770000
max,2017.000000,14.970000,9.270000,1.870000,4.140000,21.820000

In [63]:
games.sum()

C:\Users\Tom\AppData\Local\Temp\ipykernel_9412\1599516262.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  games.sum()

Name            Kinect Adventures!Grand Theft Auto VGrand Thef...
Platform        X360PS3X360X360X360PS4PS3X360X360PS3PS3X360PS4...
Year                                                    6210506.0
Genre           MiscActionActionShooterShooterShooterShooterSh...
NA_Sales                                                   1173.3
EU_Sales                                                   793.64
JP_Sales                                                   107.06
Other_Sales                                                282.75
Global_Sales                                              2356.96
dtype: object

# 196. Simple aggregations Review

In [64]:
# previously aggregates: mean, sum, std, var

In [65]:
# What are the total sales across all regions?

In [66]:
games.columns.shape
country_sales = games.columns[5:10].values
games.loc[:,country_sales]

      NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0        14.97      4.94      0.24         1.67         21.82
1         7.01      9.27      0.97         4.14         21.40
2         9.63      5.31      0.06         1.38         16.38
3         9.03      4.28      0.13         1.32         14.76
4         9.67      3.73      0.11         1.13         14.64
...        ...       ...       ...          ...           ...
3138      0.00      0.01      0.00         0.00          0.01
3139      0.01      0.00      0.00         0.00          0.01
3140      0.01      0.00      0.00         0.00          0.01
3141      0.00      0.01      0.00         0.00          0.01
3142      0.00      0.01      0.00         0.00          0.01

[3143 rows x 5 columns]

In [67]:
games.loc[:,country_sales].sum()

NA_Sales        1173.30
EU_Sales         793.64
JP_Sales         107.06
Other_Sales      282.75
Global_Sales    2356.96
dtype: float64

In [68]:
games.columns.shape

(10,)

In [69]:
games.columns.shape[0]

10

In [70]:
games.head(n=1)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82

In [71]:
games.columns

Index(['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [72]:
list_columns = list(games.columns.values)

In [73]:
list_columns

['Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [74]:
list_columns.index('NA_Sales')

5

In [75]:
list_columns[list_columns.index('NA_Sales'):]

['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

In [76]:
type(list_columns[list_columns.index('NA_Sales'):])

list

In [77]:
index_my_countrys = list_columns[list_columns.index('NA_Sales'):]
type(index_my_countrys)

list

In [78]:
index_my_countrys

['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

In [79]:
games.loc[:,index_my_countrys]

      NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0        14.97      4.94      0.24         1.67         21.82
1         7.01      9.27      0.97         4.14         21.40
2         9.63      5.31      0.06         1.38         16.38
3         9.03      4.28      0.13         1.32         14.76
4         9.67      3.73      0.11         1.13         14.64
...        ...       ...       ...          ...           ...
3138      0.00      0.01      0.00         0.00          0.01
3139      0.01      0.00      0.00         0.00          0.01
3140      0.01      0.00      0.00         0.00          0.01
3141      0.00      0.01      0.00         0.00          0.01
3142      0.00      0.01      0.00         0.00          0.01

[3143 rows x 5 columns]

In [80]:
games.loc[:,index_my_countrys].max(axis=0)

NA_Sales        14.97
EU_Sales         9.27
JP_Sales         1.87
Other_Sales      4.14
Global_Sales    21.82
dtype: float64

In [81]:
games.loc[:,index_my_countrys].max(axis=1)

0       21.82
1       21.40
2       16.38
3       14.76
4       14.64
        ...
3138     0.01
3139     0.01
3140     0.01
3141     0.01
3142     0.01
Length: 3143, dtype: float64