In [23]:
import pandas as pd
import numpy as np

In [24]:
pd.__version__

'1.5.1'

### New Data: New York City SAT Scores

https://andybek.com/pandas-sat

In [25]:
sat_url = 'https://andybek.com/pandas-sat'

In [27]:
sat = pd.read_csv(sat_url)
sat.head(n=5)

,School Name,Borough,Student Enrollment,Percent Tested,SAT Section,Score
0,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Math,459
1,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Reading,453
2,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Writing,447
3,Abraham Lincoln High School,Brooklyn,2341,54.90%,Math,441
4,Abraham Lincoln High School,Brooklyn,2341,54.90%,Reading,422

In [28]:
sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   School Name         1125 non-null   object
 1   Borough             1125 non-null   object
 2   Student Enrollment  1125 non-null   int64
 3   Percent Tested      1125 non-null   object
 4   SAT Section         1125 non-null   object
 5   Score               1125 non-null   int64
dtypes: int64(2), object(4)
memory usage: 52.9+ KB

In [32]:
sat['Percent Tested'] = sat['Percent Tested'].replace(regex='%', value='').astype(float)

In [33]:
sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   School Name         1125 non-null   object
 1   Borough             1125 non-null   object
 2   Student Enrollment  1125 non-null   int64
 3   Percent Tested      1125 non-null   float64
 4   SAT Section         1125 non-null   object
 5   Score               1125 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 52.9+ KB

In [34]:
sat.head()

,School Name,Borough,Student Enrollment,Percent Tested,SAT Section,Score
0,A. Philip Randolph Campus High School,Manhattan,1354,74.0,Math,459
1,A. Philip Randolph Campus High School,Manhattan,1354,74.0,Reading,453
2,A. Philip Randolph Campus High School,Manhattan,1354,74.0,Writing,447
3,Abraham Lincoln High School,Brooklyn,2341,54.9,Math,441
4,Abraham Lincoln High School,Brooklyn,2341,54.9,Reading,422