In [1]:
import pandas as pd
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

### Binary Or

In [2]:
True | False

True

In [3]:
False | False

False

In [4]:
False | True

True

In [5]:
True | True

True

### Binary AND -> &

In [6]:
True & False

False

In [7]:
False & False

False

In [8]:
False & False

False

In [9]:
True & True

True

In [10]:
True & True & True & False & True & True

False

In [14]:
f = pd.Series(False)
f

0    False
dtype: bool

In [13]:
t = pd.Series(True)
t

0    True
dtype: bool

In [16]:
t & f

0    False
dtype: bool

In [17]:
t | f

0    True
dtype: bool

In [19]:
t = pd.Series([True if i%2 == 0 else False for i in range(10)])
t

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [22]:
f = pd.Series([False for i in range(10)])
f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [21]:
t & f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [23]:
t | f

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [29]:
f = pd.Series(data=[False, True, True], index=['c', 'b', 'a'])
t = pd.Series(data=[True, False, False], index=['a','b','c'])
f

c    False
b     True
a     True
dtype: bool

In [30]:
t

a     True
b    False
c    False
dtype: bool

In [31]:
f & t

a     True
b    False
c    False
dtype: bool