In [1]:
import pandas as pd
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

In [2]:
players.pop('club')

0       Arsenal
1       Arsenal
2       Arsenal
3       Arsenal
4       Arsenal
         ...
460    West+Ham
461    West+Ham
462    West+Ham
463    West+Ham
464    West+Ham
Name: club, Length: 465, dtype: object

In [3]:
players.pop('age')

0      28
1      28
2      35
3      28
4      31
       ..
460    21
461    23
462    23
463    21
464    27
Name: age, Length: 465, dtype: int64

In [4]:
players.pop(['market_value', 'page_views'])

InvalidIndexError: ['market_value', 'page_views']

In [5]:
players.pop('market_value', 'page_views')

TypeError: DataFrame.pop() takes 2 positional arguments but 3 were given

In [6]:
players.pop(item='page_views')

0      4329
1      4395
2      1529
3      2393
4       912
       ...
460     288
461     199
462     198
463     412
464     214
Name: page_views, Length: 465, dtype: int64

In [7]:
players.columns

Index(['name', 'position', 'position_cat', 'market_value', 'fpl_value',
       'fpl_sel', 'fpl_points', 'region', 'nationality', 'new_foreign',
       'age_cat', 'club_id', 'big_club', 'new_signing'],
      dtype='object')

In [8]:
players.head(n=2)

,name,position,position_cat,market_value,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,LW,1,65.0,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,AM,1,50.0,9.5,5.60%,167,2,Germany,0,4,1,1,0