In [1]:
import pandas as pd
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

1.

In [9]:
df2 = players.drop(labels=[2,10,21], axis=0).drop(labels=['market_value'], axis=1)
df2.shape

(462, 16)

In [10]:
df2 = players.drop(index=[2,10,21], columns='market_value')
df2.shape

(462, 16)

2

In [16]:
df2.nationality.loc[df2.nationality.isna().values]

Series([], Name: nationality, dtype: object)

In [15]:
df2.nationality.loc[df2.nationality.isna()]

Series([], Name: nationality, dtype: object)

3

In [14]:
df2.nationality.isna().sum()

0

In [ ]:
df2.loc[]

In [18]:
df2.nationality.drop_duplicates().size

61

In [19]:
df2.nationality.nunique()

61

3

In [27]:
df2.drop_duplicates(subset=['age', 'club', 'position'], keep='first').loc[:,['age', 'position']]

     age position
0     28       LW
1     28       AM
3     28       RW
4     31       CB
5     22       RB
..   ...      ...
460   21       CM
461   23       LB
462   23       RB
463   21       CF
464   27       CF

[433 rows x 2 columns]