In [19]:
import pandas as pd
import numpy as np
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

In [2]:
# we need an fx rate
fx_rate_9_9_2022 = 1.01255
fx_rate_12_4_2020 = 0.91

players.loc[:,['market_value', 'fpl_value']]

     market_value  fpl_value
0            65.0       12.0
1            50.0        9.5
2             7.0        5.5
3            20.0        7.5
4            22.0        6.0
..            ...        ...
460           5.0        4.5
461           7.0        4.5
462           4.5        4.5
463           1.0        4.5
464          10.0        5.5

[465 rows x 2 columns]

In [3]:
players.loc[:,['market_value','fpl_value']].transform(lambda x: x * fx_rate_12_4_2020)

     market_value  fpl_value
0          59.150     10.920
1          45.500      8.645
2           6.370      5.005
3          18.200      6.825
4          20.020      5.460
..            ...        ...
460         4.550      4.095
461         6.370      4.095
462         4.095      4.095
463         0.910      4.095
464         9.100      5.005

[465 rows x 2 columns]

In [4]:
players.loc[:,['market_value', 'fpl_value']] * fx_rate_12_4_2020

     market_value  fpl_value
0          59.150     10.920
1          45.500      8.645
2           6.370      5.005
3          18.200      6.825
4          20.020      5.460
..            ...        ...
460         4.550      4.095
461         6.370      4.095
462         4.095      4.095
463         0.910      4.095
464         9.100      5.005

[465 rows x 2 columns]

In [8]:
# === ASIDE
# 1. choice

In [7]:
from random import choice
names = ['Bud', 'Brooke', 'Paleo']
choice(names)

'Bud'

In [9]:
# 2. str methods

In [10]:
'andy'.upper()

'ANDY'

In [11]:
ser = pd.Series(names)

In [12]:
ser.upper()

AttributeError: 'Series' object has no attribute 'upper'

In [13]:
ser.str.upper()

0       BUD
1    BROOKE
2     PALEO
dtype: object

In [14]:
ser.str.title()

0       Bud
1    Brooke
2     Paleo
dtype: object

In [15]:
ser.str.swapcase()

0       bUD
1    bROOKE
2     pALEO
dtype: object

In [16]:
# ===END ASIDE

In [17]:
# the fuction should:
# - apply a random string capitalization method
# - to sequence of values, and- return the transformed sequence

In [27]:
def random_case(x):
    funcs = [x.str.swapcase, x.str.lower, x.str.title, x.str.upper]
    return choice(funcs)()

In [36]:
for i in range(4):
    print(players.select_dtypes(include=object).transform(random_case).head(n=3))

             name     club position fpl_sel     nationality
0  alexis sanchez  arsenal       Lw  17.10%           CHILE
1      mesut ozil  arsenal       Am   5.60%         GERMANY
2       petr cech  arsenal       Gk   5.90%  CZECH REPUBLIC
             name     club position fpl_sel     nationality
0  ALEXIS SANCHEZ  arsenal       lw  17.10%           chile
1      MESUT OZIL  arsenal       am   5.60%         germany
2       PETR CECH  arsenal       gk   5.90%  czech republic
             name     club position fpl_sel     nationality
0  ALEXIS SANCHEZ  arsenal       lw  17.10%           Chile
1      MESUT OZIL  arsenal       am   5.60%         Germany
2       PETR CECH  arsenal       gk   5.90%  Czech Republic
             name     club position fpl_sel     nationality
0  aLEXIS sANCHEZ  aRSENAL       lw  17.10%           Chile
1      mESUT oZIL  aRSENAL       am   5.60%         Germany
2       pETR cECH  aRSENAL       gk   5.90%  Czech Republic