In [1]:
import pandas as pd
import numpy as np
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

In [5]:
def round_floats(x):
    if x.dtype == np.float64:
        return round(x)
    return x

In [6]:
players.apply(func=round_floats)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,10.0,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,6.0,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,8.0,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.0,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.0,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.0,198,4.0,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.0,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,6.0,0.10%,12,4,Senegal,0,3,20,0,0

In [9]:
players.select_dtypes(np.float64).head(n=4)

   market_value  fpl_value
0          65.0       12.0
1          50.0        9.5
2           7.0        5.5
3          20.0        7.5

In [10]:
players.select_dtypes(np.float64).apply(func=round_floats).head(n=4)

   market_value  fpl_value
0          65.0       12.0
1          50.0       10.0
2           7.0        6.0
3          20.0        8.0

In [11]:
players.select_dtypes(np.float64).transform(func=round_floats).head(n=4)

   market_value  fpl_value
0          65.0       12.0
1          50.0       10.0
2           7.0        6.0
3          20.0        8.0

In [12]:
# apply() == agg() + transforms()

In [13]:
# apply as aggregate

In [15]:
players.select_dtypes(np.number).agg('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [20]:
players.select_dtypes(np.number).apply('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [21]:
players.transform('mean')

C:\Users\Tom\AppData\Local\Temp\ipykernel_8504\2685383372.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  players.transform('mean')

ValueError: Function did not transform

In [23]:
# flipping the axis param

In [26]:
players.select_dtypes(np.number).apply(func='mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [27]:
players.select_dtypes(np.number).apply(func='mean', axis=1)

0      392.333333
1      388.208333
2      143.708333
3      214.875000
4       91.916667
          ...
460     31.875000
461     24.791667
462     23.750000
463     39.875000
464     24.708333
Length: 465, dtype: float64

In [28]:
players.loc[460,:]

name            Edimilson Fernandes
club                       West+Ham
age                              21
position                         CM
position_cat                      2
market_value                    5.0
page_views                      288
fpl_value                       4.5
fpl_sel                       0.40%
fpl_points                       38
region                            2
nationality             Switzerland
new_foreign                       0
age_cat                           1
club_id                          20
big_club                          0
new_signing                       1
Name: 460, dtype: object

In [30]:
players.loc[460, [dtype != object for dtype in players.dtypes]]

age              21
position_cat      2
market_value    5.0
page_views      288
fpl_value       4.5
fpl_points       38
region            2
new_foreign       0
age_cat           1
club_id          20
big_club          0
new_signing       1
Name: 460, dtype: object

In [32]:
players.loc[460, [dtype != object for dtype in players.dtypes]].mean()

31.875

In [33]:
players.loc[460, :].mean()

TypeError: can only concatenate str (not "numpy.int64") to str

In [34]:
players.select_dtypes(np.number).loc[460,:].mean()

31.875

In [35]:
players.shape

(465, 17)