Create a standalone function that:
 * accepts a single parameter x
 * returns the strin 'relatievely unknow' if x is less than 220
 * 'kind of popular' if x is between 220 and 600 (non-inclusive)
 * 'popular' if x is between 600 and 2000 (non-inclusive)
 * 'super-popular' otherwise

In [11]:
def intrest_flag(x):
    if x < 220:
        return f"Intrest relatievly unknow. Views: {x}"
    elif x < 600:
        return f"Kind of popular. Views: {x}."
    elif x < 2000:
        return f"Popular!. Views: {x}."
    else:
        return f"Super-popular. Views: {x}."

In [6]:
import pandas as pd
import numpy as np
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

In [7]:
players_page_views = players.loc[:,['page_views']]

In [12]:
players_page_views.applymap(intrest_flag)

                                page_views
0              Super-popular. Views: 4329.
1              Super-popular. Views: 4395.
2                   Popular!. Views: 1529.
3              Super-popular. Views: 2393.
4                    Popular!. Views: 912.
..                                     ...
460           Kind of popular. Views: 288.
461  Intrest relatievly unknow. Views: 199
462  Intrest relatievly unknow. Views: 198
463           Kind of popular. Views: 412.
464  Intrest relatievly unknow. Views: 214

[465 rows x 1 columns]

In [19]:
players["players_page_views"] = (players_page_views.applymap(intrest_flag))

In [28]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing', 'concat ', 'players_page_views'],
      dtype='object')

In [31]:
players.drop(columns=['concat '], inplace=True)

In [33]:
players.drop(columns=['players_page_views'], inplace=True)

In [34]:
players.head(n=1)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0

In [35]:
players["popularity"] = (players_page_views.applymap(intrest_flag))

In [36]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing', 'popularity'],
      dtype='object')

In [39]:
players.loc[:,'popularity']

0                Super-popular. Views: 4329.
1                Super-popular. Views: 4395.
2                     Popular!. Views: 1529.
3                Super-popular. Views: 2393.
4                      Popular!. Views: 912.
                       ...
460             Kind of popular. Views: 288.
461    Intrest relatievly unknow. Views: 199
462    Intrest relatievly unknow. Views: 198
463             Kind of popular. Views: 412.
464    Intrest relatievly unknow. Views: 214
Name: popularity, Length: 465, dtype: object

In [49]:
players.count(axis=1,numeric_only=False)

0      18
1      18
2      18
3      18
4      18
       ..
460    18
461    18
462    18
463    18
464    18
Length: 465, dtype: int64

In [50]:
def intrest_flag_generic(x):
    if x < 220:
        return f"Intrest relatievly unknow."
    elif x < 600:
        return f"Kind of popular."
    elif x < 2000:
        return f"Popular!."
    else:
        return f"Super-popular."

In [51]:
players['popularity_generic'] = players_page_views.applymap(intrest_flag_generic)

In [52]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing', 'popularity', 'popularity_generic'],
      dtype='object')

In [54]:
players.groupby('popularity_generic').count()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,popularity
popularity_generic,,,,,,,,,,,,,,,,,,
Intrest relatievly unknow.,115,115,115,115,115,114,115,115,115,115,115,115,115,115,115,115,115,115
Kind of popular.,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170
Popular!.,143,143,143,142,143,141,143,143,143,143,143,143,143,143,143,143,143,143
Super-popular.,37,37,37,37,37,37,37,37,37,37,37,37,37,37,37,37,37,37

In [59]:
players.loc[:,['popularity_generic']].value_counts()

popularity_generic
Kind of popular.              170
Popular!.                     143
Intrest relatievly unknow.    115
Super-popular.                 37
dtype: int64

In [60]:
players.loc[:,['popularity_generic']].value_counts(normalize=True)

popularity_generic
Kind of popular.              0.365591
Popular!.                     0.307527
Intrest relatievly unknow.    0.247312
Super-popular.                0.079570
dtype: float64