Create a standalone function that:
 * accepts a single parameter x
 * returns the strin 'relatievely unknow' if x is less than 220
 * 'kind of popular' if x is between 220 and 600 (non-inclusive)
 * 'popular' if x is between 600 and 2000 (non-inclusive)
 * 'super-popular' otherwise

In [11]:
def intrest_flag(x):
    if x < 220:
        return f"Intrest {x} relatievly unknow."
    else:
        return "I don't know yet."

In [8]:
import pandas as pd
import numpy as np
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

In [9]:
players_page_views = players.loc[:,['page_views']]

In [10]:
players_page_views.applymap(intrest_flag)

                        page_views
0                I don't know yet.
1                I don't know yet.
2                I don't know yet.
3                I don't know yet.
4                I don't know yet.
..                             ...
460              I don't know yet.
461  Intrest 199 relatievly unknow
462  Intrest 198 relatievly unknow
463              I don't know yet.
464  Intrest 214 relatievly unknow

[465 rows x 1 columns]