In [1]:
import pandas as pd
import numpy as np
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)
players.head(n=2)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0

In [3]:
players.loc[3,'position']

'RW'

In [4]:
players.loc[3, 'position'] = 'CM'

In [5]:
players.loc[3, 'position']

'CM'

In [7]:
players.iloc[3, 3]

'CM'

In [8]:
players.iloc[3, 3] = 'RW'

In [9]:
players.iloc[3, 3]

'RW'

In [10]:
# at[] and iat[] should be preferred for single value assignment

In [11]:
players.at[3, 'position'] = 'CM'

In [13]:
players.loc[3,:]

name            Theo Walcott
club                 Arsenal
age                       28
position                  CM
position_cat               1
market_value            20.0
page_views              2393
fpl_value                7.5
fpl_sel                1.50%
fpl_points               122
region                     1
nationality          England
new_foreign                0
age_cat                    4
club_id                    1
big_club                   1
new_signing                0
Name: 3, dtype: object

In [14]:
players.iat[3, 3] = 'RW'

In [15]:
players.head(n=4)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0

In [16]:
%%timeit
players.at[3,'position'] = 'CM'

10.9 µs ± 104 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [17]:
%%timeit
players.loc[3, 'position'] = 'RW'

148 µs ± 11.9 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [18]:
148/10.9

13.577981651376147

In [19]:
%%timeit
players.iloc[3, 3] = 'CM'

85.2 µs ± 1.31 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [20]:
%%timeit
players.iat[3, 3] = 'RW'

66 µs ± 8.84 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [21]:
85.2/66

1.290909090909091