In [60]:
import pandas as pd
import numpy as np
data_url = 'https://andybek.com/pandas-soccer'
players = pd.read_csv(data_url)

In [61]:
# 1
import random
row = random.randint(0, players.index.size - 4)
column = random.randint(0, players.columns.size - 4)
df_random = players.iloc[row:row+4,column:column+4]
df_random

     region nationality  new_foreign  age_cat
388       1     England            0        2
389       2       Wales            0        2
390       1     England            0        3
391       2     Belgium            0        4

In [62]:
%%timeit
df_random.assign(nationality=['American', 'British', 'Turkish', 'Indian'])

143 µs ± 3.82 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [63]:
%%timeit
series_mini = pd.Series({
    df_random.columns[0] : 'placeholder value',
    df_random.columns[1] : 'placeholder value',
    df_random.columns[2] : 'placeholder value',
    df_random.columns[3] : 'placeholder value',
}, name=players.index.size + 1)
pd.concat([df_random, series_mini.to_frame().T])

1.51 ms ± 46.6 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [64]:
series_mini = pd.Series({
    df_random.columns[0] : 'placeholder value',
    df_random.columns[1] : 'placeholder value',
    df_random.columns[2] : 'placeholder value',
    df_random.columns[3] : 'placeholder value',
}, name=players.index.size + 1)
df_random = pd.concat([df_random, series_mini.to_frame().T])

In [65]:
df_random

,region,nationality,new_foreign,age_cat
388,1,England,0,2
389,2,Wales,0,2
390,1,England,0,3
391,2,Belgium,0,4
466,placeholder value,placeholder value,placeholder value,placeholder value