# 254. Section intro

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.1'

# 255. Our Data: Boston Marathon Runners

https://andybek.com/pandas-marathon

In [3]:
boston_url = 'https://andybek.com/pandas-marathon'

In [4]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

boston = pd.read_csv(boston_url)

In [5]:
boston.head(n=6)

,Name,Age,M/F,City,State,Country,Official Time,Overall,Gender,Years Ran
0,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,2:09:37,1,1,NaN
1,"Rupp, Galen",30,M,Portland,OR,USA,2:09:58,2,2,NaN
2,"Osako, Suguru",25,M,Machida-City,NaN,JPN,2:10:28,3,3,NaN
3,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,2:12:08,4,4,NaN
4,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,2:12:35,5,5,2015
5,"Abdirahman, Abdi",40,M,Phoenix,AZ,USA,2:12:45,6,6,NaN

In [6]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           1000 non-null   object
 1   Age            1000 non-null   int64
 2   M/F            1000 non-null   object
 3   City           1000 non-null   object
 4   State          807 non-null    object
 5   Country        1000 non-null   object
 6   Official Time  1000 non-null   object
 7   Overall        1000 non-null   int64
 8   Gender         1000 non-null   int64
 9   Years Ran      315 non-null    object
dtypes: int64(3), object(7)
memory usage: 78.2+ KB

# String Methods in Python

* len
* center
* startswith, ends with
* the 'in' operator
* list comprehensions

In [7]:
s = 'Welcome to the text manipulation section'

In [8]:
len(s)

40

In [9]:
s.center(100, '*')

'******************************Welcome to the text manipulation section******************************'

In [10]:
s.center(30, '*')

'Welcome to the text manipulation section'

In [11]:
s.center(len(s) + 5, '*')

'***Welcome to the text manipulation section**'

In [12]:
def even_len(word):
    lenght = 0
    if len(word) >=2:
        lenght = len(word) * 2
    else:
        lenght = 7
    word = "_" + word + "_"
    print(word.center(lenght, '*'))

In [13]:
even_len('h')

**_h_**

In [14]:
even_len('ertetert')

***_ertetert_***

In [15]:
s.endswith('tion')

True

In [16]:
s.startswith('W')

True

# How about includes?

In [17]:
'text' in s

True

In [18]:
'texted' in s

False

Text transorm within list comprehensions

In [19]:
names = ['Alanah', 'Albion', 'Andrew', 'Brian']

In [20]:
[len(name) for name in names]

[6, 6, 6, 5]

In [21]:
[name.startswith('A') for name in names]

[True, True, True, False]

1. When you add anything unexpected `np.NaN`
```python
names = ['Alanah', 'Albion', 'Andrew', np.NaN, 'Brian']
```
 
2. and use it:

```python
[len(name) for name in names]
```
3. You will get:
```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In [82], line 2
      1 names = ['Alanah', 'Albion', 'Andrew', np.NaN, 'Brian']
----> 2 [len(name) for name in names]

Cell In [82], line 2, in <listcomp>(.0)
      1 names = ['Alanah', 'Albion', 'Andrew', np.NaN, 'Brian']
----> 2 [len(name) for name in names]

TypeError: object of type 'float' has no len()
```

# 257. Vectorized String Operations In Pandas

String Methods in Python

Vectorized String operations In pandas.

In [22]:
boston.head()

,Name,Age,M/F,City,State,Country,Official Time,Overall,Gender,Years Ran
0,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,2:09:37,1,1,NaN
1,"Rupp, Galen",30,M,Portland,OR,USA,2:09:58,2,2,NaN
2,"Osako, Suguru",25,M,Machida-City,NaN,JPN,2:10:28,3,3,NaN
3,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,2:12:08,4,4,NaN
4,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,2:12:35,5,5,2015

In [29]:
first_runer = str.strip(boston.iloc[0,0])

In [30]:
len(first_runer)

15

In [31]:
boston.Name

0         Kirui, Geoffrey
1           Rupp, Galen
2          Osako, Suguru
3         Biwott, Shadrack
4           Chebet, Wilson
              ...
995           Larosa, Mark
996    Williamson, Jerry A
997        Mccue, Daniel T
998           Larosa, John
999         Sanchez, Sam R
Name: Name, Length: 1000, dtype: object

In [32]:
len(boston.Name)

1000

In [33]:
boston.Name.str.len()

0      17
1      14
2      15
3      16
4      14
       ..
995    12
996    19
997    15
998    12
999    14
Name: Name, Length: 1000, dtype: int64

In [38]:
boston.Name.apply(str.strip).str.len()

0      15
1      11
2      13
3      16
4      14
       ..
995    12
996    19
997    15
998    12
999    14
Name: Name, Length: 1000, dtype: int64

In [39]:
boston.Name.str.startswith('A')

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Name, Length: 1000, dtype: bool