# 254. Section intro

In [59]:
import pandas as pd
import numpy as np

In [60]:
pd.__version__

'1.5.1'

# 255. Our Data: Boston Marathon Runners

https://andybek.com/pandas-marathon

In [61]:
boston_url = 'https://andybek.com/pandas-marathon'

In [62]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

boston = pd.read_csv(boston_url)

In [63]:
boston.head(n=6)

,Name,Age,M/F,City,State,Country,Official Time,Overall,Gender,Years Ran
0,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,2:09:37,1,1,NaN
1,"Rupp, Galen",30,M,Portland,OR,USA,2:09:58,2,2,NaN
2,"Osako, Suguru",25,M,Machida-City,NaN,JPN,2:10:28,3,3,NaN
3,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,2:12:08,4,4,NaN
4,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,2:12:35,5,5,2015
5,"Abdirahman, Abdi",40,M,Phoenix,AZ,USA,2:12:45,6,6,NaN

In [64]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           1000 non-null   object
 1   Age            1000 non-null   int64
 2   M/F            1000 non-null   object
 3   City           1000 non-null   object
 4   State          807 non-null    object
 5   Country        1000 non-null   object
 6   Official Time  1000 non-null   object
 7   Overall        1000 non-null   int64
 8   Gender         1000 non-null   int64
 9   Years Ran      315 non-null    object
dtypes: int64(3), object(7)
memory usage: 78.2+ KB

# String Methods in Python

* len
* center
* startswith, ends with
* the 'in' operator
* list comprehensions

In [65]:
s = 'Welcome to the text manipulation section'

In [66]:
len(s)

40

In [67]:
s.center(100, '*')

'******************************Welcome to the text manipulation section******************************'

In [68]:
s.center(30, '*')

'Welcome to the text manipulation section'

In [69]:
s.center(len(s) + 5, '*')

'***Welcome to the text manipulation section**'

In [70]:
def even_len(word):
    lenght = 0
    if len(word) >=2:
        lenght = len(word) * 2
    else:
        lenght = 7
    word = "_" + word + "_"
    print(word.center(lenght, '*'))

In [71]:
even_len('h')

**_h_**

In [72]:
even_len('ertetert')

***_ertetert_***

In [73]:
s.endswith('tion')

True

In [74]:
s.startswith('W')

True

# How about includes?

In [75]:
'text' in s

True

In [76]:
'texted' in s

False

Text transorm within list comprehensions

In [77]:
names = ['Alanah', 'Albion', 'Andrew', 'Brian']

In [78]:
[len(name) for name in names]

[6, 6, 6, 5]

In [79]:
[name.startswith('A') for name in names]

[True, True, True, False]

In [80]:
# names = ['Alanah', 'Albion', 'Andrew', np.NaN, 'Brian']
# TypeError: object of type 'float' has no len()

In [81]:
[len(name) for name in names]

[6, 6, 6, 5]