In [1]:
import pandas as pd

In [2]:
url = 'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv'
alcohol = pd.read_csv(url, usecols=['country', 'wine_servings'], index_col='country').squeeze("columns")
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

1. Isolate te non-nulls in the alcohol series and assign them to the variable sine_serving.

In [9]:
wine_servings = alcohol[alcohol.notnull()]
wine_servings.head(n=3)

country
Albania     54.0
Algeria     14.0
Andorra    312.0
Name: wine_servings, dtype: float64

2. What is the total wine consumed by coutries in wine_servings

In [10]:
wine_servings.sum()

8221.0

3. BONUMS. In the wine_servings datease, what was the total wine consumed by coutries that conumed less than 100 servings?
HInt: apply a boolean mask to indentify such countires, then sum().

In [15]:
mask = wine_servings < 100
wine_servings[mask].sum()

2416.0

2416.0