In [1]:
import pandas as pd

In [24]:
url = 'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv'
alcohol = pd.read_csv(url, usecols=['country', 'wine_servings'], index_col='country').squeeze("columns")
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [3]:
alcohol.sort_values()

country
Thailand           1.0
Solomon Islands    1.0
Brunei             1.0
Haiti              1.0
Cambodia           1.0
                  ...
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, Length: 193, dtype: float64

In [5]:
alcohol.sort_index()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [6]:
alcohol.sort_values(ascending=False)

country
Portugal      339.0
Andorra       312.0
Denmark       278.0
Slovenia      276.0
Luxembourg    271.0
              ...
Sri Lanka       NaN
Sudan           NaN
Tajikistan      NaN
Uganda          NaN
Yemen           NaN
Name: wine_servings, Length: 193, dtype: float64

In [7]:
alcohol.sort_index(ascending=False)

country
Zimbabwe         4.0
Zambia           4.0
Yemen            NaN
Vietnam          1.0
Venezuela        3.0
               ...
Angola          45.0
Andorra        312.0
Algeria         14.0
Albania         54.0
Afghanistan      NaN
Name: wine_servings, Length: 193, dtype: float64

In [14]:
alcohol.sort_values(ascending=False, na_position='first').head(n=35)

country
Afghanistan           NaN
Bangladesh            NaN
Bhutan                NaN
Burundi               NaN
North Korea           NaN
Eritrea               NaN
Ethiopia              NaN
India                 NaN
Indonesia             NaN
Iran                  NaN
Iraq                  NaN
Kuwait                NaN
Lesotho               NaN
Libya                 NaN
Malaysia              NaN
Maldives              NaN
Marshall Islands      NaN
Mauritania            NaN
Monaco                NaN
Myanmar               NaN
Nepal                 NaN
Pakistan              NaN
Rwanda                NaN
San Marino            NaN
Saudi Arabia          NaN
Somalia               NaN
Sri Lanka             NaN
Sudan                 NaN
Tajikistan            NaN
Uganda                NaN
Yemen                 NaN
Portugal            339.0
Andorra             312.0
Denmark             278.0
Slovenia            276.0
Name: wine_servings, dtype: float64

In [16]:
alcohol.sort_values(ascending=False, na_position='first', kind='quicksort').head(n=1)

country
Afghanistan   NaN
Name: wine_servings, dtype: float64

In [18]:
alcohol.sort_values(ascending=False, na_position='first', kind='mergesort').head(n=1)

country
Afghanistan   NaN
Name: wine_servings, dtype: float64

In [20]:
alcohol.sort_values(ascending=False, na_position='first', kind='heapsort').head(n=3)

country
Afghanistan   NaN
Bangladesh    NaN
Bhutan        NaN
Name: wine_servings, dtype: float64

In [21]:
alcohol.head(n=7)

country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Argentina            221.0
Name: wine_servings, dtype: float64

In [25]:
alcohol = alcohol.sort_values(ascending=False, na_position='last', kind='quicksort')
alcohol.head(n=7)

country
Portugal      339.0
Andorra       312.0
Denmark       278.0
Slovenia      276.0
Luxembourg    271.0
Croatia       254.0
Italy         237.0
Name: wine_servings, dtype: float64

In [26]:
alcohol.sort_values(inplace=True)

In [27]:
alcohol.head(n=7)

country
Chad        1.0
Tanzania    1.0
Ghana       1.0
Comoros     1.0
Gambia      1.0
Vietnam     1.0
Egypt       1.0
Name: wine_servings, dtype: float64