In [1]:
import pandas as pd

In [64]:
url = 'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv'
alcohol = pd.read_csv(url, usecols=['country', 'wine_servings'], index_col='country').squeeze("columns").sort_values(ascending=False)
alcohol.head()

country
Portugal      339.0
Andorra       312.0
Denmark       278.0
Slovenia      276.0
Luxembourg    271.0
Name: wine_servings, dtype: float64

In [11]:
(alcohol + 2).head(n=7)

country
Portugal      341.0
Andorra       314.0
Denmark       280.0
Slovenia      278.0
Luxembourg    273.0
Croatia       256.0
Italy         239.0
Name: wine_servings, dtype: float64

In [12]:
((alcohol - 10) * 2).head(n=7)

country
Portugal      658.0
Andorra       604.0
Denmark       536.0
Slovenia      532.0
Luxembourg    522.0
Croatia       488.0
Italy         454.0
Name: wine_servings, dtype: float64

In [13]:
alcohol.sort_index(inplace=True)
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [14]:
more_drinks = pd.Series({'Albania': 6})

In [15]:
alcohol + more_drinks

Afghanistan     NaN
Albania        60.0
Algeria         NaN
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [29]:
alcohol.count()

162

In [32]:
alcohol.isna().sum()

31

In [33]:
alcohol.notna().sum()

162

In [26]:
alcohol[alcohol.notna()]

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [35]:
more_drinks = pd.Series({'Albania':6, 'Algeria':10})

In [36]:
alcohol + more_drinks

Afghanistan     NaN
Albania        60.0
Algeria        24.0
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [37]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [38]:
alcohol.add(more_drinks)

Afghanistan     NaN
Albania        60.0
Algeria        24.0
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [40]:
alcohol.add(more_drinks, fill_value=0).sort_values(ascending=False, na_position='first')

Afghanistan         NaN
Bangladesh          NaN
Bhutan              NaN
Burundi             NaN
Eritrea             NaN
                   ...
Nicaragua           1.0
Niger               1.0
Oman                1.0
Papua New Guinea    1.0
Brunei              1.0
Length: 193, dtype: float64

In [41]:
alcohol.add(more_drinks, fill_value=0).dropna().sort_values(ascending=False, na_position='first')

Portugal            339.0
Andorra             312.0
Denmark             278.0
Slovenia            276.0
Luxembourg          271.0
                    ...
Nicaragua             1.0
Niger                 1.0
Oman                  1.0
Papua New Guinea      1.0
Brunei                1.0
Length: 162, dtype: float64

In [46]:
alcohol.sort_values(na_position='first').head(27)

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
North Korea        NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Name: wine_servings, dtype: float64

In [49]:
more_drinks = pd.Series({'Afghanistan': 10, 'Bangladesh': 10, 'Bhutan': 10, 'Burundi':2, 'Yemen':101})

In [65]:
alcohol.isna().sum()

31

In [66]:
alcohol.add(more_drinks, fill_value=0)

Afghanistan     10.0
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen          101.0
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [67]:
alcohol = alcohol.fillna(69)

In [68]:
alcohol.isna().sum()

0

In [69]:
url = 'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv'
alcohol = pd.read_csv(url, usecols=['country', 'wine_servings'], index_col='country').squeeze("columns")
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [70]:
alcohol - more_drinks

Afghanistan   NaN
Albania       NaN
Algeria       NaN
Andorra       NaN
Angola        NaN
               ..
Venezuela     NaN
Vietnam       NaN
Yemen         NaN
Zambia        NaN
Zimbabwe      NaN
Length: 193, dtype: float64

In [71]:
alcohol.subtract(more_drinks, fill_value=0)

Afghanistan    -10.0
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen         -101.0
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [74]:
alcohol.divide(more_drinks, fill_value=1)

Afghanistan      0.100000
Albania         54.000000
Algeria         14.000000
Andorra        312.000000
Angola          45.000000
                  ...
Venezuela        3.000000
Vietnam          1.000000
Yemen            0.009901
Zambia           4.000000
Zimbabwe         4.000000
Length: 193, dtype: float64

In [75]:
alcohol.multiply(more_drinks, fill_value=1)

Afghanistan     10.0
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen          101.0
Zambia           4.0
Zimbabwe         4.0
Length: 193, dtype: float64

In [76]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [78]:
more_drinks.head()

Afghanistan     10
Bangladesh      10
Bhutan          10
Burundi          2
Yemen          101
dtype: int64