In [1]:
import pandas as pd

In [2]:
url = 'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv'
alcohol = pd.read_csv(url, usecols=['country', 'wine_servings'], index_col='country').squeeze("columns")
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [6]:
mini_alc = alcohol[:11].dropna()
mini_alc.head(n=10)

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Argentina            221.0
Armenia               11.0
Australia            212.0
Austria              191.0
Azerbaijan             5.0
Name: wine_servings, dtype: float64

In [7]:
for i in mini_alc:
    print(i)

54.0
14.0
312.0
45.0
45.0
221.0
11.0
212.0
191.0
5.0

In [8]:
for i in mini_alc.index:
    print(i)

Albania
Algeria
Andorra
Angola
Antigua & Barbuda
Argentina
Armenia
Australia
Austria
Azerbaijan

In [18]:
for i in mini_alc.index:
    print(f'Index:,\tValue:\n{i} {mini_alc[i]}\n')

Index:,	Value:
Albania 54.0

Index:,	Value:
Algeria 14.0

Index:,	Value:
Andorra 312.0

Index:,	Value:
Angola 45.0

Index:,	Value:
Antigua & Barbuda 45.0

Index:,	Value:
Argentina 221.0

Index:,	Value:
Armenia 11.0

Index:,	Value:
Australia 212.0

Index:,	Value:
Austria 191.0

Index:,	Value:
Azerbaijan 5.0

In [19]:
for i in mini_alc.items():
    print(i)

('Albania', 54.0)
('Algeria', 14.0)
('Andorra', 312.0)
('Angola', 45.0)
('Antigua & Barbuda', 45.0)
('Argentina', 221.0)
('Armenia', 11.0)
('Australia', 212.0)
('Austria', 191.0)
('Azerbaijan', 5.0)

In [23]:
for i, v in mini_alc.items():
    print(v)

54.0
14.0
312.0
45.0
45.0
221.0
11.0
212.0
191.0
5.0

In [24]:
for i in mini_alc.items():
    print(i)

('Albania', 54.0)
('Algeria', 14.0)
('Andorra', 312.0)
('Angola', 45.0)
('Antigua & Barbuda', 45.0)
('Argentina', 221.0)
('Armenia', 11.0)
('Australia', 212.0)
('Austria', 191.0)
('Azerbaijan', 5.0)

In [25]:
for i, v in mini_alc.items():
    print(f'Index:{i}, value:{v}')

Index:Albania, value:54.0
Index:Algeria, value:14.0
Index:Andorra, value:312.0
Index:Angola, value:45.0
Index:Antigua & Barbuda, value:45.0
Index:Argentina, value:221.0
Index:Armenia, value:11.0
Index:Australia, value:212.0
Index:Austria, value:191.0
Index:Azerbaijan, value:5.0

In [26]:
for i, v in mini_alc.iteritems():
    print(i, v)

Albania 54.0
Algeria 14.0
Andorra 312.0
Angola 45.0
Antigua & Barbuda 45.0
Argentina 221.0
Armenia 11.0
Australia 212.0
Austria 191.0
Azerbaijan 5.0

In [27]:
for i in mini_alc.iteritems():
    print(i)

('Albania', 54.0)
('Algeria', 14.0)
('Andorra', 312.0)
('Angola', 45.0)
('Antigua & Barbuda', 45.0)
('Argentina', 221.0)
('Armenia', 11.0)
('Australia', 212.0)
('Austria', 191.0)
('Azerbaijan', 5.0)