In [13]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://gist.githubusercontent.com/sh7ata/e075ff35b51ebb0d2d577fbe1d19ebc9/raw/b966d02c7c26bcca60703acb1390e938a65a35cb/drinks.csv'
alcohol = pd.read_csv(url, usecols=['country', 'wine_servings'], index_col='country').squeeze("columns")
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [4]:
alcohol.loc['Algeria'] = 19
alcohol.head(n=3)

country
Afghanistan     NaN
Albania        54.0
Algeria        19.0
Name: wine_servings, dtype: float64

In [7]:
alcohol.loc['Albania'] = 190
alcohol.loc['Andorra'] = 20
alcohol.loc['Afghanistan'] = 29
alcohol.head()

country
Afghanistan     29.0
Albania        190.0
Algeria         19.0
Andorra         20.0
Angola          45.0
Name: wine_servings, dtype: float64

In [8]:
alcohol.head(n=10)

country
Afghanistan           29.0
Albania              190.0
Algeria               19.0
Andorra               20.0
Angola                45.0
Antigua & Barbuda     45.0
Argentina            221.0
Armenia               11.0
Australia            212.0
Austria              191.0
Name: wine_servings, dtype: float64

In [10]:
alcohol.update(pd.Series(data=[200,20], index=['Albania','Andorra']))
alcohol.head()

country
Afghanistan     29.0
Albania        200.0
Algeria         19.0
Andorra         20.0
Angola          45.0
Name: wine_servings, dtype: float64

In [11]:
alcohol.apply(lambda x:x**2)

country
Afghanistan      841.0
Albania        40000.0
Algeria          361.0
Andorra          400.0
Angola          2025.0
                ...
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Abania         36100.0
Afganistan       841.0
Name: wine_servings, Length: 195, dtype: float64

In [15]:
alcohol.apply(np.square)

country
Afghanistan      841.0
Albania        40000.0
Algeria          361.0
Andorra          400.0
Angola          2025.0
                ...
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Abania         36100.0
Afganistan       841.0
Name: wine_servings, Length: 195, dtype: float64

In [21]:
def multiply_by_self(x): return x*x

In [22]:
alcohol.apply(multiply_by_self)

country
Afghanistan      841.0
Albania        40000.0
Algeria          361.0
Andorra          400.0
Angola          2025.0
                ...
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Abania         36100.0
Afganistan       841.0
Name: wine_servings, Length: 195, dtype: float64

In [23]:
def multiply_by_self_with_min(x, min_servings):
    if x < min_servings:
        return x**2
    
    return x

In [26]:
alcohol.apply(multiply_by_self_with_min, args=(200,))

country
Afghanistan      841.0
Albania          200.0
Algeria          361.0
Andorra          400.0
Angola          2025.0
                ...
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Abania         36100.0
Afganistan       841.0
Name: wine_servings, Length: 195, dtype: float64

In [27]:
alcohol

country
Afghanistan     29.0
Albania        200.0
Algeria         19.0
Andorra         20.0
Angola          45.0
               ...
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Abania         190.0
Afganistan      29.0
Name: wine_servings, Length: 195, dtype: float64

In [28]:
alcohol.apply(multiply_by_self_with_min, min_servings=200)

country
Afghanistan      841.0
Albania          200.0
Algeria          361.0
Andorra          400.0
Angola          2025.0
                ...
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Abania         36100.0
Afganistan       841.0
Name: wine_servings, Length: 195, dtype: float64

In [30]:
alcohol.map(lambda x: x**2)

country
Afghanistan      841.0
Albania        40000.0
Algeria          361.0
Andorra          400.0
Angola          2025.0
                ...
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Abania         36100.0
Afganistan       841.0
Name: wine_servings, Length: 195, dtype: float64

In [31]:
alcohol.map(np.square)

country
Afghanistan      841.0
Albania        40000.0
Algeria          361.0
Andorra          400.0
Angola          2025.0
                ...
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Abania         36100.0
Afganistan       841.0
Name: wine_servings, Length: 195, dtype: float64