The head() And tail() Methods

In [1]:
import pandas as pd
int_series = pd.Series([i for i in range(60)])
int_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [2]:
pd.Series(range(60))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [3]:
int_series.size

60

In [4]:
len(int_series)

60

In [5]:
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [6]:
int_series.tail()

55    55
56    56
57    57
58    58
59    59
dtype: int64

In [7]:
int_series.tail(15)

45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [8]:
int_series.head(2)

0    0
1    1
dtype: int64

In [9]:
int_series.head(n=7)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [10]:
int_series.tail(n=6)

54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [11]:
pd.Series(range(10000))

0          0
1          1
2          2
3          3
4          4
        ...
9995    9995
9996    9996
9997    9997
9998    9998
9999    9999
Length: 10000, dtype: int64

In [12]:
pd.Series(range(100))

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [23]:
pd.options.display.min_rows=8

In [24]:
pd.Series(range(100))

0      0
1      1
2      2
3      3
      ..
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

Extracting By Index Position

In [26]:
from string import ascii_lowercase
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [27]:
pd.Series(ascii_lowercase)

0    abcdefghijklmnopqrstuvwxyz
dtype: object

In [28]:
list(ascii_lowercase)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [29]:
len(list(ascii_lowercase))

26

In [31]:
alphabet = pd.Series(list(ascii_lowercase))
alphabet.head(6)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [35]:
alphabet[2]

'c'

In [36]:
alphabet[0]

'a'

1. What is the first letter?
2. What is the 11th letter?
3. What are the first three letters?
4. What are the sixth through tenth letters?
5. What are the last siz letters?

In [38]:
print(alphabet[0])
print(alphabet[10])
print(alphabet.head(3))
print(alphabet[5:10])
print(alphabet.tail(6))

a
k
0    a
1    b
2    c
dtype: object
5    f
6    g
7    h
8    i
9    j
dtype: object
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [41]:
# 3
alphabet[:3]

0    a
1    b
2    c
dtype: object

In [42]:
# 4
alphabet[5:10]

5    f
6    g
7    h
8    i
9    j
dtype: object

In [43]:
# 5
alphabet[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object