In [18]:
import pandas as pd
import numpy as np
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

# Reading JSON  
JSON (JavaScript Object Notation) is a standardixed and language-independent format.

In [19]:
url_json = 'http://andybek.com/pandas-folks-json'

In [20]:
pd.read_json(url_json)

            name  salary           occupation
0   Brian Dogood   64000  Software Technician
1     Leah Bokeh   73200       Data Scientist
2  Mark Prescott   76400  Business Consultant
3   Jurgen Gupta   94300   Aerospace Engineer

In [21]:
folks = pd.read_json(url_json)

In [22]:
type(folks)

pandas.core.frame.DataFrame

In [23]:
folks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   salary      4 non-null      int64
 2   occupation  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [24]:
folks.iloc[2]

name                Mark Prescott
salary                      76400
occupation    Business Consultant
Name: 2, dtype: object